workflows/03-orquestrador-conteudo.sanitized.json
{
  "name": "Postagem Redes — Orquestrador de Conteúdo",
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Analise tecnicamente a imagem em um contexto industrial.\nIdentifique e descreva com precisão:\n\nO equipamento principal visível, determinando sua função industrial real (ex.: ventilação, exaustão, insuflação, segurança operacional).\n\nO tipo de ambiente em que o equipamento está instalado (ex.: área confinada, túnel, galeria técnica, espaço subterrâneo), justificando com base em elementos visuais.\n\nA finalidade operacional da cena, explicando por que esse equipamento é necessário nesse ambiente específico.\n\nOs riscos industriais envolvidos (ex.: gases, deficiência de oxigênio, calor, partículas) e como o equipamento contribui para mitigá-los.\n\nConformidade com práticas de segurança, considerando o uso de EPIs, procedimentos e normas aplicáveis (ex.: trabalho em espaço confinado).\n\nUtilize linguagem técnica, objetiva e realista, evitando descrições genéricas ou artísticas.\nNão faça suposições fora do que pode ser inferido visualmente.",
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        464,
        -384
      ],
      "name": "IA Visão: Gemini (Primário)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": {
            "leftValue": "={{ $json.error }}",
            "rightValue": "",
            "operator": {
              "type": "string",
              "operation": "empty",
              "singleValue": true
            }
          },
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        -384
      ],
      "name": "Condicional: Falha no Gemini?"
    },
    {
      "parameters": {
        "jsCode": "// Recupera o binário do nó anterior de forma segura (compatível com PRODUÇÃO)\nconst item = $items(\"Padronizador de Binário\")[0];\n\nif (item && item.binary) {\n  return {\n    json: { status: \"Foto recuperada para OpenAI\" },\n    binary: item.binary // Reinjeta a imagem corretamente no fluxo\n  };\n}\n\n// Fallback seguro (evita travamento do webhook)\nreturn {\n  json: { error: \"Foto perdida fatalmente\" }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -320
      ],
      "name": "Script: Recuperação de Payload"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Analise tecnicamente a imagem em um contexto industrial.\nIdentifique e descreva com precisão:\n\nO equipamento principal visível, determinando sua função industrial real (ex.: ventilação, exaustão, insuflação, segurança operacional).\n\nO tipo de ambiente em que o equipamento está instalado (ex.: área confinada, túnel, galeria técnica, espaço subterrâneo), justificando com base em elementos visuais.\n\nA finalidade operacional da cena, explicando por que esse equipamento é necessário nesse ambiente específico.\n\nOs riscos industriais envolvidos (ex.: gases, deficiência de oxigênio, calor, partículas) e como o equipamento contribui para mitigá-los.\n\nConformidade com práticas de segurança, considerando o uso de EPIs, procedimentos e normas aplicáveis (ex.: trabalho em espaço confinado).\n\nUtilize linguagem técnica, objetiva e realista, evitando descrições genéricas ou artísticas.\nNão faça suposições fora do que pode ser inferido visualmente.",
        "inputType": "base64",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1344,
        -320
      ],
      "name": "IA Visão: OpenAI (Redundância 1)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": {
            "leftValue": "={{ $json.error }}",
            "rightValue": "",
            "operator": {
              "type": "string",
              "operation": "empty",
              "singleValue": true
            }
          },
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1776,
        -320
      ],
      "name": "Condicional: Falha na OpenAI?"
    },
    {
      "parameters": {
        "jsCode": "// Recupera o primeiro item de entrada de forma compatível com PRODUÇÃO\nif ($input.all().length === 0) {\n  return {\n    json: {\n      descricao_tecnica: \"Erro: Nenhuma resposta de IA foi recebida.\"\n    }\n  };\n}\n\nconst item = $input.first().json;\nlet texto = \"\";\n\n// --- LÓGICA DE EXTRAÇÃO BLINDADA ---\n\n// 1. Padrão Gemini Raw\nif (\n  item.candidates &&\n  item.candidates[0] &&\n  item.candidates[0].content &&\n  item.candidates[0].content.parts &&\n  item.candidates[0].content.parts[0]\n) {\n  texto = item.candidates[0].content.parts[0].text;\n}\n// 2. Padrão Gemini n8n Simplificado\nelse if (item.content && item.content.parts && item.content.parts[0]) {\n  texto = item.content.parts[0].text;\n}\n// 3. Padrão OpenAI / Ollama / Llama\nelse if (item.message && item.message.content) {\n  texto = item.message.content;\n}\n// 4. Padrão Array Content\nelse if (Array.isArray(item.content) && item.content[0] && item.content[0].text) {\n  texto = item.content[0].text;\n}\n// 5. Padrão Ollama Raw\nelse if (item.response) {\n  texto = item.response;\n}\n// 6. Fallback texto direto\nelse if (item.content && typeof item.content === \"string\") {\n  texto = item.content;\n}\n\n// Fallback final\nif (!texto) {\n  texto = \"Erro: Nenhuma IA conseguiu descrever a imagem técnica.\";\n}\n\n// Retorno normalizado\nreturn {\n  json: {\n    descricao_tecnica: texto\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        -384
      ],
      "name": "Script: Normalização de Dados"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": {
            "content": "=Você é o Head de Marketing & Vendas Global da Vesper.\n\n---\n📥 INPUTS ESTRATÉGICOS:\n1. CONTEXTO VISUAL: \"{{ $('Padronizador de Binário').item.json.body?.contexto || \"Descrição visual técnica do equipamento industrial.\" }}\"\n2. TENDÊNCIA/NOTÍCIA (RSS): \"{{ $json.noticia_do_dia }} ou {{ $('Code Noticias').item.json.noticia_do_dia }}\"\n3. DADOS TÉCNICOS: \"{{ $('Script: Normalização de Dados').item.json.descricao_tecnica }}\"\n4. SEO KEYWORDS: \"Eficiência Energética\", \"Segurança NR-12/NR-33\", \"Ventilação Industrial\", \"Offshore\", \"Durabilidade\".\n5. 🛡️ CREDENCIAIS DE AUTORIDADE (Obrigatório):\n   - \"Certificação INMETRO 115:2022\" (Foco em eficiência e segurança).\n   - \"Certificação ISO 9001:2015\" (Foco em gestão de qualidade e processos).\n\n---\n⚠️ REGRA SUPREMA DE BRANDING (BRAND RECALL):\n1. A primeira palavra de TODOS os posts (LinkedIn, Instagram, Facebook, Twitter) DEVE SER EXATAMENTE \"Vesper\" ou \"A Vesper\".\n   ✅ CORRETO: \"Vesper entrega a solução definitiva...\"\n   ❌ ERRADO: \"🚀 A solução definitiva...\"\n2. 🚫 PROIBIDO começar com Emojis.\n3. 🚫 PROIBIDO adjetivos no início da frase.\n\n---\n🛡️ REGRA DE VERACIDADE (TRUST SIGNALS):\nIntegre as certificações (ISO e INMETRO) no texto de forma natural para validar promessas.\n- No LinkedIn e Blog: A citação das normas é PRIORITÁRIA para passar credibilidade técnica.\n- No Instagram/Facebook: Use como argumento de segurança (\"Garantia certificada\").\nExemplo: \"Vesper assegura conformidade total com a portaria INMETRO 115:2022...\"\n\n---\n🎯 MISSÃO 360º OMNICHANNEL:\nGere um pacote completo de ativos em **3 IDIOMAS** (PT, EN, ES).\nSe houver uma notícia de mercado (Input 2), use-a como gancho para introduzir a solução da Vesper.\n\nPARA CADA IDIOMA, GERE:\n1. **Social:**\n   - LinkedIn: Tom executivo e engenharia. Cite as certificações. Comece com \"Vesper\".\n   - Instagram: Visual e magnético. Foco no resultado estético/prático. Emoji só após a marca.\n   - Facebook: Comunitário industrial. Comece com \"Vesper\".\n   - Twitter (X): Impacto e Notícia. Max 250 chars. Comece com \"Vesper\".\n2. **Blog (SEO Article):**\n   - Título Otimizado (H1).\n   - Introdução (Conectando a notícia do dia à dor do cliente).\n   - Desenvolvimento (Como a tecnologia da Vesper resolve, citando ISO 9001 e INMETRO).\n   - Bullets técnicos.\n3. **Vendas (Comercial - Sniper):**\n   - WhatsApp: Pitch curto, direto e cordial.\n   - Email: Assunto (Curiosidade/Benefício) + Corpo focado em agendar reunião técnica.\n\n---\n📌 SAÍDA JSON OBRIGATÓRIA (Não inclua markdown fora do JSON):\n{\n  \"pt\": {\n    \"linkedin\": \"...\",\n    \"instagram\": \"...\",\n    \"facebook\": \"...\",\n    \"twitter\": \"...\",\n    \"blog\": { \"titulo\": \"...\", \"corpo\": \"...\" },\n    \"vendas\": { \"whatsapp\": \"...\", \"email_assunto\": \"...\", \"email_corpo\": \"...\" }\n  },\n  \"en\": {\n    \"linkedin\": \"...\",\n    \"instagram\": \"...\",\n    \"facebook\": \"...\",\n    \"twitter\": \"...\",\n    \"blog\": { \"title\": \"...\", \"body\": \"...\" },\n    \"sales\": { \"whatsapp\": \"...\", \"email_subject\": \"...\", \"email_body\": \"...\" }\n  },\n  \"es\": {\n    \"linkedin\": \"...\",\n    \"instagram\": \"...\",\n    \"facebook\": \"...\",\n    \"twitter\": \"...\",\n    \"blog\": { \"titulo\": \"...\", \"cuerpo\": \"...\" },\n    \"ventas\": { \"whatsapp\": \"...\", \"email_asunto\": \"...\", \"email_cuerpo\": \"...\" }\n  },\n  \"hashtags\": \"#Vesper #ISO9001 #Inmetro115 #VentilacaoIndustrial...\"\n}"
          }
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        3120,
        -384
      ],
      "name": "IA Redação: OpenAI (Primário)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": {
            "leftValue": "={{ $json.error }}",
            "rightValue": "",
            "operator": {
              "type": "string",
              "operation": "empty",
              "singleValue": true
            }
          },
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3472,
        -384
      ],
      "name": "Condicional: Falha na Redação?"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemma3:12b",
          "mode": "list",
          "cachedResultName": "gemma3:12b"
        },
        "messages": {
          "values": {
            "content": "=Você é o Head de Marketing & Vendas Global da Vesper.\n\n---\n📥 INPUTS ESTRATÉGICOS:\n1. CONTEXTO VISUAL: \"{{ $('Padronizador de Binário').item.json.body?.contexto || \"Descrição visual técnica do equipamento industrial.\" }}\"\n2. TENDÊNCIA/NOTÍCIA (RSS): \"{{ $json.noticia_do_dia }} ou {{ $('Code Noticias').item.json.noticia_do_dia }}\"\n3. DADOS TÉCNICOS: \"{{ $('Script: Normalização de Dados').item.json.descricao_tecnica }}\"\n4. SEO KEYWORDS: \"Eficiência Energética\", \"Segurança NR-12/NR-33\", \"Ventilação Industrial\", \"Offshore\", \"Durabilidade\".\n5. 🛡️ CREDENCIAIS DE AUTORIDADE (Obrigatório):\n   - \"Certificação INMETRO 115:2022\" (Foco em eficiência e segurança).\n   - \"Certificação ISO 9001:2015\" (Foco em gestão de qualidade e processos).\n\n---\n⚠️ REGRA SUPREMA DE BRANDING (BRAND RECALL):\n1. A primeira palavra de TODOS os posts (LinkedIn, Instagram, Facebook, Twitter) DEVE SER EXATAMENTE \"Vesper\" ou \"A Vesper\".\n   ✅ CORRETO: \"Vesper entrega a solução definitiva...\"\n   ❌ ERRADO: \"🚀 A solução definitiva...\"\n2. 🚫 PROIBIDO começar com Emojis.\n3. 🚫 PROIBIDO adjetivos no início da frase.\n\n---\n🛡️ REGRA DE VERACIDADE (TRUST SIGNALS):\nIntegre as certificações (ISO e INMETRO) no texto de forma natural para validar promessas.\n- No LinkedIn e Blog: A citação das normas é PRIORITÁRIA para passar credibilidade técnica.\n- No Instagram/Facebook: Use como argumento de segurança (\"Garantia certificada\").\nExemplo: \"Vesper assegura conformidade total com a portaria INMETRO 115:2022...\"\n\n---\n🎯 MISSÃO 360º OMNICHANNEL:\nGere um pacote completo de ativos em **3 IDIOMAS** (PT, EN, ES).\nSe houver uma notícia de mercado (Input 2), use-a como gancho para introduzir a solução da Vesper.\n\nPARA CADA IDIOMA, GERE:\n1. **Social:**\n   - LinkedIn: Tom executivo e engenharia. Cite as certificações. Comece com \"Vesper\".\n   - Instagram: Visual e magnético. Foco no resultado estético/prático. Emoji só após a marca.\n   - Facebook: Comunitário industrial. Comece com \"Vesper\".\n   - Twitter (X): Impacto e Notícia. Max 250 chars. Comece com \"Vesper\".\n2. **Blog (SEO Article):**\n   - Título Otimizado (H1).\n   - Introdução (Conectando a notícia do dia à dor do cliente).\n   - Desenvolvimento (Como a tecnologia da Vesper resolve, citando ISO 9001 e INMETRO).\n   - Bullets técnicos.\n3. **Vendas (Comercial - Sniper):**\n   - WhatsApp: Pitch curto, direto e cordial.\n   - Email: Assunto (Curiosidade/Benefício) + Corpo focado em agendar reunião técnica.\n\n---\n📌 SAÍDA JSON OBRIGATÓRIA (Não inclua markdown fora do JSON):\n{\n  \"pt\": {\n    \"linkedin\": \"...\",\n    \"instagram\": \"...\",\n    \"facebook\": \"...\",\n    \"twitter\": \"...\",\n    \"blog\": { \"titulo\": \"...\", \"corpo\": \"...\" },\n    \"vendas\": { \"whatsapp\": \"...\", \"email_assunto\": \"...\", \"email_corpo\": \"...\" }\n  },\n  \"en\": {\n    \"linkedin\": \"...\",\n    \"instagram\": \"...\",\n    \"facebook\": \"...\",\n    \"twitter\": \"...\",\n    \"blog\": { \"title\": \"...\", \"body\": \"...\" },\n    \"sales\": { \"whatsapp\": \"...\", \"email_subject\": \"...\", \"email_body\": \"...\" }\n  },\n  \"es\": {\n    \"linkedin\": \"...\",\n    \"instagram\": \"...\",\n    \"facebook\": \"...\",\n    \"twitter\": \"...\",\n    \"blog\": { \"titulo\": \"...\", \"cuerpo\": \"...\" },\n    \"ventas\": { \"whatsapp\": \"...\", \"email_asunto\": \"...\", \"email_cuerpo\": \"...\" }\n  },\n  \"hashtags\": \"#Vesper #ISO9001 #Inmetro115 #VentilacaoIndustrial...\"\n}"
          }
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        3696,
        -240
      ],
      "name": "IA Redação Local: Ollama (Redundância)"
    },
    {
      "parameters": {
        "jsCode": "// Recupera o binário do nó anterior de forma segura (compatível com PRODUÇÃO)\nconst item = $items(\"Padronizador de Binário\")[0];\n\nif (item && item.binary) {\n  return {\n    json: { status: \"Foto recuperada para OpenAI\" },\n    binary: item.binary // Reinjeta a imagem corretamente no fluxo\n  };\n}\n\n// Fallback seguro (evita travamento do webhook)\nreturn {\n  json: { error: \"Foto perdida fatalmente\" }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -240
      ],
      "name": "Script: Recuperação de Payload1"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "ministral-3:3b",
          "mode": "list",
          "cachedResultName": "ministral-3:3b"
        },
        "text": "Analise tecnicamente a imagem em um contexto industrial.\nIdentifique e descreva com precisão:\n\nO equipamento principal visível, determinando sua função industrial real (ex.: ventilação, exaustão, insuflação, segurança operacional).\n\nO tipo de ambiente em que o equipamento está instalado (ex.: área confinada, túnel, galeria técnica, espaço subterrâneo), justificando com base em elementos visuais.\n\nA finalidade operacional da cena, explicando por que esse equipamento é necessário nesse ambiente específico.\n\nOs riscos industriais envolvidos (ex.: gases, deficiência de oxigênio, calor, partículas) e como o equipamento contribui para mitigá-los.\n\nConformidade com práticas de segurança, considerando o uso de EPIs, procedimentos e normas aplicáveis (ex.: trabalho em espaço confinado).\n\nUtilize linguagem técnica, objetiva e realista, evitando descrições genéricas ou artísticas.\nNão faça suposições fora do que pode ser inferido visualmente.",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        2224,
        -240
      ],
      "name": "IA Visão Local: Ollama (Redundância 2)"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst root = item.json;\n\n// ======================================================\n// 1. FUNÇÃO DE PARSE ROBUSTA (JSON / TEXTO / IA)\n// ======================================================\nfunction parseIA(obj) {\n    if (!obj) return null;\n\n    if (typeof obj === 'object') {\n        if (obj.pt || obj.en || obj.es) return obj;\n        // Busca recursiva\n        for (let key in obj) {\n            if (['binary','data','headers'].includes(key)) continue;\n            const res = parseIA(obj[key]);\n            if (res) return res;\n        }\n        return null;\n    }\n\n    if (typeof obj === 'string') {\n        try {\n            let limpo = obj\n                .replace(/```json/g, '')\n                .replace(/```/g, '')\n                .trim();\n            const match = limpo.match(/\\{[\\s\\S]*\\}/);\n            if (match) limpo = match[0];\n            return JSON.parse(limpo);\n        } catch (e) { return null; }\n    }\n    return null;\n}\n\n// Tenta achar em vários lugares possíveis\nlet dadosBrutos = root.output || root.text || root.content || root;\nlet dados = parseIA(dadosBrutos);\n\n// ======================================================\n// 2. FALLBACK E NORMALIZAÇÃO\n// ======================================================\nif (!dados || !dados.pt) {\n    const rawString = JSON.stringify(root, null, 2);\n    dados = {\n        pt: {\n            linkedin: \"⚠️ A IA não retornou JSON válido.\\n\\nRAW:\\n\" + rawString,\n            instagram: \"...\", facebook: \"...\", twitter: \"...\",\n            blog: { titulo: \"Erro\", corpo: \"...\" }, vendas: {}\n        },\n        en: {}, es: {}, hashtags: \"#ErroIA\"\n    };\n}\n\n// Garante compatibilidade de nomes\nif (dados.en) { if(dados.en.sales) dados.en.vendas = dados.en.sales; if(dados.en.blog?.title) dados.en.blog.titulo = dados.en.blog.title; if(dados.en.blog?.body) dados.en.blog.corpo = dados.en.blog.body; }\nif (dados.es) { if(dados.es.ventas) dados.es.vendas = dados.es.ventas; if(dados.es.blog?.cuerpo) dados.es.blog.corpo = dados.es.blog.cuerpo; }\n\n// ======================================================\n// 3. IMAGEM (BASE64) PARA PREVIEW E ENVIO\n// ======================================================\nlet imagemBase64 = \"\";\nlet imagemMime = \"image/jpeg\";\n\ntry {\n    if (item.binary && Object.keys(item.binary).length > 0) {\n        const nome = Object.keys(item.binary)[0];\n        const buffer = await this.helpers.getBinaryDataBuffer(0, nome);\n        imagemMime = item.binary[nome].mimeType || \"image/jpeg\";\n        imagemBase64 = buffer.toString(\"base64\");\n    }\n} catch (e) {}\n\nconst imagemTag = imagemBase64\n    ? `<img src=\"data:${imagemMime};base64,${imagemBase64}\" class=\"preview-image\">`\n    : \"<div class='no-image'>Sem imagem</div>\";\n\nconst tagsHtml = (dados.hashtags || \"#Vesper\")\n    .toString()\n    .split(\" \")\n    .filter(t => t.length > 2)\n    .map(t => `<span class=\"tag\" onclick=\"copiar('${t}')\">${t}</span>`)\n    .join(\"\");\n\n// Helper Function CORRIGIDA (O erro estava aqui)\nfunction renderCard(id, title, elId) {\n    return `\n    <div class=\"card\">\n        <div class=\"card-header\">\n            <div class=\"card-title\">${title}</div>\n            <div class=\"btn-group\">\n                <button class=\"btn btn-copy\" onclick=\"copy('${elId}')\">Copiar</button>\n                <button id=\"btn-${elId}\" class=\"btn btn-post\" onclick=\"postar('${elId}')\">🚀 Postar</button>\n            </div>\n        </div>\n        <div id=\"${elId}\" class=\"content-text\" contenteditable=\"true\"></div>\n    </div>`;\n}\n\n// ======================================================\n// 4. HTML DASHBOARD PRO (COM BOTÕES E ABAS)\n// ======================================================\nconst htmlPage = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Vesper Command Center</title>\n<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap\" rel=\"stylesheet\">\n<style>\n    :root { --primary: #06b6d4; --bg: #0f172a; --card: #1e293b; --text: #f1f5f9; --border: #334155; }\n    body { font-family: 'Inter', sans-serif; background: var(--bg); color: var(--text); margin: 0; padding: 20px; }\n    \n    /* LAYOUT */\n    .dashboard { max-width: 1400px; margin: 0 auto; display: grid; grid-template-columns: 300px 1fr; gap: 24px; }\n    @media(max-width:900px){ .dashboard { grid-template-columns: 1fr; } }\n\n    /* SIDEBAR */\n    .sidebar { background: var(--card); padding: 24px; border-radius: 16px; border: 1px solid var(--border); height: fit-content; }\n    .logo { font-size: 20px; font-weight: 800; letter-spacing: -1px; color: #fff; margin-bottom: 20px; display:flex; align-items:center; gap:10px; }\n    .logo span { color: var(--primary); }\n    .preview-image { width: 100%; border-radius: 8px; border: 1px solid var(--border); margin-bottom: 16px; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5); }\n    .tags { display: flex; flex-wrap: wrap; gap: 6px; }\n    .tag { background: rgba(6, 182, 212, 0.1); color: var(--primary); font-size: 11px; font-weight:600; padding: 4px 8px; border-radius: 4px; border: 1px solid rgba(6, 182, 212, 0.2); cursor: pointer; transition:0.2s; }\n    .tag:hover { background: var(--primary); color:#000; }\n\n    /* CONTROLS (TABS) */\n    .header-controls { display:flex; justify-content:space-between; align-items:center; margin-bottom:20px; flex-wrap:wrap; gap:10px; }\n    .tabs { display:flex; gap:8px; background: var(--card); padding:4px; border-radius:8px; border:1px solid var(--border); }\n    .tab { padding: 6px 16px; font-size:12px; font-weight:600; color:#94a3b8; cursor:pointer; border-radius:6px; transition:0.2s; }\n    .tab:hover { color:#fff; }\n    .tab.active { background: var(--primary); color:#0f172a; }\n\n    .channel-tabs { display:flex; gap:20px; border-bottom:1px solid var(--border); margin-bottom:20px; padding-bottom:10px; }\n    .ch-tab { font-size:14px; font-weight:600; color:#64748b; cursor:pointer; transition:0.2s; position:relative; }\n    .ch-tab:hover { color:#fff; }\n    .ch-tab.active { color: var(--primary); }\n    .ch-tab.active::after { content:''; position:absolute; bottom:-11px; left:0; width:100%; height:2px; background:var(--primary); }\n\n    /* CARDS */\n    .panel { display:none; animation: fadeIn 0.3s ease; }\n    .panel.active { display:block; }\n    @keyframes fadeIn { from { opacity:0; transform:translateY(5px); } to { opacity:1; transform:translateY(0); } }\n\n    .card { background: var(--card); border: 1px solid var(--border); border-radius: 12px; padding: 20px; margin-bottom: 16px; position: relative; }\n    .card-header { display:flex; justify-content:space-between; align-items:center; margin-bottom:12px; }\n    .card-title { font-size:12px; font-weight:700; text-transform:uppercase; color:#94a3b8; display:flex; gap:8px; align-items:center; }\n    \n    /* EDITABLE CONTENT */\n    .content-text { \n        white-space: pre-wrap;\n        line-height: 1.6; \n        font-size: 14px; \n        color: #e2e8f0; \n        outline: none; \n        background: rgba(0,0,0,0.2); \n        padding: 12px; \n        border-radius: 6px;\n        border: 1px solid transparent;\n    }\n    .content-text:focus { border-color: var(--primary); background: rgba(0,0,0,0.3); }\n\n    /* BUTTONS */\n    .btn-group { display:flex; gap:8px; }\n    .btn { border:none; padding:6px 12px; border-radius:6px; font-size:11px; font-weight:600; cursor:pointer; transition:0.2s; }\n    .btn-copy { background:transparent; border:1px solid var(--border); color:#94a3b8; }\n    .btn-copy:hover { border-color:#fff; color:#fff; }\n    .btn-post { background: var(--primary); color:#0f172a; display:flex; align-items:center; gap:6px; }\n    .btn-post:hover { background: #22d3ee; transform:translateY(-1px); }\n</style>\n</head>\n<body>\n\n<div class=\"dashboard\">\n  <div class=\"sidebar\">\n    <div class=\"logo\">VESPER <span>CMD</span></div>\n    ${imagemTag}\n    <div class=\"tags\">${tagsHtml}</div>\n  </div>\n\n  <div class=\"main\">\n    \n    <div class=\"header-controls\">\n        <div class=\"tabs\">\n            <div class=\"tab active\" onclick=\"setLang('pt', this)\">🇧🇷 PT-BR</div>\n            <div class=\"tab\" onclick=\"setLang('en', this)\">🇺🇸 EN-US</div>\n            <div class=\"tab\" onclick=\"setLang('es', this)\">🇪🇸 ES-LATAM</div>\n        </div>\n    </div>\n\n    <div class=\"channel-tabs\">\n        <div class=\"ch-tab active\" onclick=\"setChannel('social', this)\">📱 Social Media</div>\n        <div class=\"ch-tab\" onclick=\"setChannel('blog', this)\">📰 Blog / SEO</div>\n        <div class=\"ch-tab\" onclick=\"setChannel('vendas', this)\">💰 Vendas</div>\n    </div>\n\n    <div id=\"p-social\" class=\"panel active\">\n        ${renderCard('linkedin', 'LinkedIn', 'lk')}\n        ${renderCard('instagram', 'Instagram', 'ig')}\n        ${renderCard('facebook', 'Facebook', 'fb')}\n        ${renderCard('twitter', 'Twitter (X)', 'tw')}\n    </div>\n\n    <div id=\"p-blog\" class=\"panel\">\n        <div class=\"card\">\n            <div class=\"card-header\"><div class=\"card-title\">Título SEO</div> <button class=\"btn btn-copy\" onclick=\"copy('blog-title')\">Copiar</button></div>\n            <div id=\"blog-title\" class=\"content-text\" contenteditable=\"true\"></div>\n        </div>\n        <div class=\"card\">\n            <div class=\"card-header\"><div class=\"card-title\">Corpo do Artigo</div> <button class=\"btn btn-copy\" onclick=\"copy('blog-body')\">Copiar</button></div>\n            <div id=\"blog-body\" class=\"content-text\" contenteditable=\"true\"></div>\n        </div>\n    </div>\n\n    <div id=\"p-vendas\" class=\"panel\">\n        <div class=\"card\" style=\"border-left:3px solid #22c55e\">\n            <div class=\"card-header\"><div class=\"card-title\">WhatsApp</div> <button class=\"btn btn-copy\" onclick=\"copy('zap')\">Copiar</button></div>\n            <div id=\"zap\" class=\"content-text\" contenteditable=\"true\"></div>\n        </div>\n        <div class=\"card\">\n            <div class=\"card-header\"><div class=\"card-title\">E-mail</div> <button class=\"btn btn-copy\" onclick=\"copy('mail')\">Copiar</button></div>\n            <div id=\"mail\" class=\"content-text\" contenteditable=\"true\"></div>\n        </div>\n    </div>\n\n  </div>\n</div>\n\n<script>\nconst dados = ${JSON.stringify(dados)};\nconst imgBase64 = \"${imagemBase64}\";\nconst imgMime = \"${imagemMime}\";\nlet lang = \"pt\";\n\n// ⚠️ URL DO WEBHOOK DE PUBLICAÇÃO\nconst POST_URL = \"http://localhost:5678/webhook-test/publicar-conteudo\"; \n\nfunction render() {\n    const d = dados[lang] || dados.pt;\n    set(\"lk\", d.linkedin);\n    set(\"ig\", d.instagram);\n    set(\"fb\", d.facebook);\n    set(\"tw\", d.twitter);\n    set(\"blog-title\", d.blog?.titulo);\n    set(\"blog-body\", d.blog?.corpo);\n    set(\"zap\", d.vendas?.whatsapp);\n    set(\"mail\", d.vendas?.email_corpo);\n}\n\nfunction set(id, val) {\n    const el = document.getElementById(id);\n    if(el) el.innerText = val || \"⚠️ Aguardando geração...\";\n}\n\n// Lógica de Postagem (Envia o que está na tela, editado ou não)\nasync function postar(rede) {\n    const btn = document.getElementById('btn-'+rede);\n    const texto = document.getElementById(rede).innerText;\n    \n    const original = btn.innerHTML;\n    btn.innerHTML = \"⏳ ...\";\n    btn.style.opacity = 0.7;\n\n    try {\n        await fetch(POST_URL, {\n            method: 'POST',\n            headers: {'Content-Type': 'application/json'},\n            body: JSON.stringify({\n                rede: rede,\n                texto: texto,\n                imagem: imgBase64, // Envia a imagem junto\n                mime: imgMime,\n                idioma: lang\n            })\n        });\n        btn.innerHTML = \"✅ Feito!\";\n        setTimeout(() => { btn.innerHTML = original; btn.style.opacity = 1; }, 2000);\n    } catch(e) {\n        alert(\"Erro ao conectar com n8n. Verifique se o fluxo está ativo.\");\n        btn.innerHTML = \"❌ Erro\";\n    }\n}\n\n// Utilitários de UI\nfunction setLang(l, el) {\n    lang = l;\n    document.querySelectorAll('.tab').forEach(t => t.classList.remove('active'));\n    el.classList.add('active');\n    render();\n}\n\nfunction setChannel(c, el) {\n    document.querySelectorAll('.ch-tab').forEach(t => t.classList.remove('active'));\n    el.classList.add('active');\n    document.querySelectorAll('.panel').forEach(p => p.classList.remove('active'));\n    document.getElementById('p-'+c).classList.add('active');\n}\n\nfunction copy(id) {\n    navigator.clipboard.writeText(document.getElementById(id).innerText);\n    // Feedback visual rápido\n    const el = document.getElementById(id).parentElement;\n    el.style.borderColor = \"#06b6d4\";\n    setTimeout(() => el.style.borderColor = \"#334155\", 300);\n}\n\nrender();\n</script>\n</body>\n</html>\n`;\n\n// ======================================================\n// 5. RETORNO PARA O WEBHOOK\n// ======================================================\nreturn {\n    json: {\n        meu_site_html: htmlPage,\n        conteudo_gerado: dados\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        -320
      ],
      "name": "Script: Processamento de Saída (HTML)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4048,
        -320
      ],
      "name": "Merge"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.meu_site_html }}",
        "options": {
          "responseHeaders": {
            "entries": {
              "name": "Content-Type",
              "value": "text/html"
            }
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5744,
        -320
      ],
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Padronizador de Binário — Versão \"Recovery\" (Recupera Foto Perdida)\n\nif ($input.all().length === 0) {\n  return { json: { error: \"Nenhum input recebido\" } };\n}\n\nconst item = $input.first();\nconst jsonAtual = item.json || {};\nlet binaryAtual = item.binary;\n\n// --- 🕵️‍♂️ RESGATE DA FOTO ---\n// Se o Google Sheets \"comeu\" a foto, vamos buscar ela lá no nó de Download\nif (!binaryAtual || Object.keys(binaryAtual).length === 0) {\n  try {\n    // ⚠️ O nome dentro de $items(\"\") deve ser EXATAMENTE o nome do seu nó de download.\n    // Baseado nas suas imagens, o padrão é \"Download file\".\n    // Se você renomeou o nó de download, mude o nome abaixo:\n    const nodeDownload = $items(\"[Drive] Baixar Foto\");\n    \n    if (nodeDownload && nodeDownload[0] && nodeDownload[0].binary) {\n      binaryAtual = nodeDownload[0].binary;\n      // Opcional: Avisa no JSON que recuperamos\n      jsonAtual.status_recovery = \"Foto recuperada do Download file\";\n    }\n  } catch (e) {\n    // Se não achou o nó, não faz nada\n  }\n}\n\n// --- PADRONIZAÇÃO ---\nif (binaryAtual && Object.keys(binaryAtual).length > 0) {\n\n  // Pega a chave original (seja 'data', 'file', 'image', etc)\n  const chaveOriginal = Object.keys(binaryAtual)[0];\n  const dadosArquivo = binaryAtual[chaveOriginal];\n\n  // Retorna JSON + Binário limpo na chave 'data'\n  return {\n    json: jsonAtual,\n    binary: {\n      data: dadosArquivo\n    }\n  };\n}\n\n// Se realmente não achou foto em lugar nenhum\nreturn {\n  json: { \n    ...jsonAtual,\n    error: \"Nenhuma foto encontrada (nem no input, nem no resgate)\" \n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -320
      ],
      "name": "Padronizador de Binário"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "postagem-redes-analise-imagem",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -320
      ],
      "name": "Gatilho: Ingestão de Imagem",
      "webhookId": "9a9d71d6-e9cd-42dc-86ea-ab1b81d66486"
    },
    {
      "parameters": {
        "url": "https://oilprice.com/rss/main",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2672,
        -384
      ],
      "name": "Buscar Noticias"
    },
    {
      "parameters": {
        "jsCode": "// Code Notícias Contextual — Produção\n\n// Fallback base\nlet mancheteFinal =\n  \"O setor de energia e indústria segue atento à eficiência operacional, segurança e inovação tecnológica.\";\n\n// --- 1. Entrada segura ---\nconst entradas = $input.all();\n\n// Esperado:\n// [0] → RSS (oilprice)\n// [1] → Descrição da imagem (IA)\n\nlet rssItems = [];\nlet descricaoImagem = \"\";\n\nfor (const item of entradas) {\n  if (item.json?.rss?.channel?.item) {\n    rssItems = item.json.rss.channel.item;\n  }\n\n  if (item.json?.descricao_tecnica) {\n    descricaoImagem = item.json.descricao_tecnica.toLowerCase();\n  }\n}\n\n// Se não tiver nada útil, sai com fallback\nif (!rssItems.length || !descricaoImagem) {\n  return { json: { noticia_do_dia: mancheteFinal } };\n}\n\n// --- 2. Palavras-chave técnicas da imagem ---\nconst palavrasChave = [\n  \"oil\",\"gas\",\"offshore\",\"rig\",\"pipeline\",\"refinery\",\"drilling\",\n  \"pump\",\"compressor\",\"valve\",\"tank\",\"storage\",\"energy\",\"power\",\n  \"industrial\",\"safety\",\"explosion\",\"hazard\",\"atex\",\"maintenance\",\n  \"automation\",\"control\",\"inspection\",\"equipment\",\"machinery\"\n];\n\n// Filtra palavras que realmente aparecem na descrição\nconst chavesImagem = palavrasChave.filter(p =>\n  descricaoImagem.includes(p)\n);\n\n// --- 3. Score de relevância ---\nlet melhorScore = 0;\nlet melhorTitulo = \"\";\n\nfor (const noticia of rssItems) {\n  const titulo = noticia.title?.toLowerCase() || \"\";\n  let score = 0;\n\n  for (const chave of chavesImagem) {\n    if (titulo.includes(chave)) score++;\n  }\n\n  if (score > melhorScore) {\n    melhorScore = score;\n    melhorTitulo = noticia.title;\n  }\n}\n\n// --- 4. Resultado final ---\nif (melhorScore > 0 && melhorTitulo) {\n  mancheteFinal = `Destaque do Setor: ${melhorTitulo}`;\n}\n\nreturn {\n  json: {\n    noticia_do_dia: mancheteFinal\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        -384
      ],
      "name": "Code Noticias"
    },
    {
      "parameters": {
        "operation": "multiStep",
        "operations": {
          "operations": {
            "operation": "resize",
            "width": 1920,
            "height": {},
            "resizeOption": "onlyIfLarger"
          }
        },
        "options": {
          "format": "jpeg",
          "quality": 100
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        4608,
        -320
      ],
      "name": "Edição Foto",
      "retryOnFail": false,
      "maxTries": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "postagem-redes-publicar-conteudo",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        96
      ],
      "name": "Webhook Publicador",
      "webhookId": "1c385319-3d47-41a6-9b8b-688059046f22"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst body = item.json.body;\n\n// Pega o texto Base64 que veio do site\nconst base64String = body.imagem; \n\n// Cria o buffer (o arquivo na memória)\nconst binaryData = Buffer.from(base64String, 'base64');\n\n// Devolve para o n8n no formato que ele entende (Binário)\nreturn {\n  json: {\n    rede: body.rede,      // Ex: 'linkedin', 'twitter'\n    texto: body.texto,    // O texto que você editou no site\n    idioma: body.idioma\n  },\n  binary: {\n    data: {\n      data: base64String,\n      mimeType: body.mime || 'image/jpeg',\n      fileName: 'imagem_publicacao.jpg'\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        96
      ],
      "name": "Restaurar Binário"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/834594023081914/photos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.texto }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "source",
              "inputDataFieldName": "data"
            },
            {
              "name": "published",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1136,
        32
      ],
      "name": "Vagão 1: \"Hospedar\" a Foto"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.id }}?fields=images",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        80
      ],
      "name": "Vagão 2: Pegar o Link"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/17841475208996376/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.images[0].source }}"
            },
            {
              "name": "caption",
              "value": "={{ $node[\"[Router] Escolher Rede\"].json.texto }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1520,
        80
      ],
      "name": "Vagão 3: Criar o Container"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/17841475208996376/media_publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": {
            "name": "creation_id",
            "value": "={{ $json.id }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1888,
        64
      ],
      "name": "Vagão 4: Publicar",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        912,
        64
      ],
      "name": "Postagem instagram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/834594023081914/photos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.texto }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "source",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        224
      ],
      "name": "Postagem Facebook",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Separador V2: O Distribuidor de Conteúdo 📦🚚\n\nconst items = $input.all();\nif (items.length === 0) return [{ json: { error: \"Sem input recebido no Separador\" } }];\n\nconst item = items[0];\nconst jsonInput = item.json;\nconst binaryImage = item.binary;\n\n// --- 1. LOCALIZAR O CONTEÚDO ---\n// O \"Goleiro\" normalizou tudo em 'text', mas mantemos backups por segurança\nlet conteudo = jsonInput.text || jsonInput.conteudo_gerado || jsonInput.output || {};\n\n// --- 2. TRATAMENTO INTELIGENTE (String vs Objeto) ---\nlet dadosLimpos = {};\n\nif (typeof conteudo === 'object') {\n    // Se já é um objeto, usa direto (Perfeito!)\n    dadosLimpos = conteudo;\n} else if (typeof conteudo === 'string') {\n    // Se é texto, vamos caçar o JSON lá dentro\n    try {\n        // Busca onde começa '{' e termina '}' para ignorar textos de introdução da IA\n        const inicio = conteudo.indexOf('{');\n        const fim = conteudo.lastIndexOf('}');\n        \n        if (inicio !== -1 && fim !== -1) {\n            const jsonString = conteudo.substring(inicio, fim + 1);\n            dadosLimpos = JSON.parse(jsonString);\n        } else {\n             // Tentativa bruta: remove marcadores de código markdown\n             const limpo = conteudo.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n             dadosLimpos = JSON.parse(limpo);\n        }\n    } catch (e) {\n        return [{ json: { erro: \"O Separador não conseguiu ler o JSON da IA\", raw: conteudo } }];\n    }\n}\n\n// --- 3. NORMALIZAÇÃO DA ESTRUTURA ---\n// Às vezes a IA coloca os dados dentro de uma chave \"conteudo_gerado\", às vezes na raiz\nconst raiz = dadosLimpos.conteudo_gerado || dadosLimpos;\n\n// Seleciona o idioma (Padrão: PT - Português)\nconst conteudosPosts = raiz.pt || {}; \n\n// --- 4. CONFIGURAÇÃO DAS REDES ---\n// Mapeia o nome que vem da IA para a sigla que o seu Router espera\nconst mapRedes = {\n  'linkedin': 'lk',\n  'instagram': 'ig',\n  'facebook': 'fb',\n  'twitter': 'tw'\n};\n\nconst postsParaFazer = [];\n\nfor (const [redeNome, redeSigla] of Object.entries(mapRedes)) {\n  // Se existir texto para essa rede no JSON, cria o pacote de envio\n  if (conteudosPosts[redeNome]) {\n    postsParaFazer.push({\n      json: {\n        rede: redeSigla,                 // Código para o Router (lk, ig, fb, tw)\n        texto: conteudosPosts[redeNome], // O texto do post\n        idioma: 'pt',\n        nome_arquivo_origem: jsonInput.NomeArquivo || \"Arquivo Sem Nome\"\n      },\n      // ⚠️ IMPORTANTE: A foto tem que ir junto para o Loop!\n      binary: binaryImage\n    });\n  }\n}\n\n// --- 5. VERIFICAÇÃO FINAL ---\nif (postsParaFazer.length === 0) {\n    // Retorna um aviso mas não quebra o fluxo (ajuda no debug)\n    return [{ \n        json: { \n            aviso: \"JSON válido, mas nenhum post foi encontrado para as redes mapeadas.\", \n            dados_lidos: raiz \n        } \n    }];\n}\n\nreturn postsParaFazer;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5424,
        -144
      ],
      "name": "Code (O Separador)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        6032,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "'1FNjvzOAT2PyqN6QvNUvsDahg0lWB7xnB' in parents and trashed = false and mimeType contains 'image/'"
            },
            {
              "name": "fields",
              "value": "files(id, name, mimeType)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        -704
      ],
      "name": "[Drive] Listar Fotos"
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        192,
        -704
      ],
      "name": "[Drive] Separar Itens"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qJhzMA4n_YMucqg3-0rOZ7fi0OiaUmdV-hiUwaG2sgc",
          "mode": "list",
          "cachedResultName": "Controle de Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qJhzMA4n_YMucqg3-0rOZ7fi0OiaUmdV-hiUwaG2sgc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qJhzMA4n_YMucqg3-0rOZ7fi0OiaUmdV-hiUwaG2sgc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        -560
      ],
      "name": "[Sheets] Ler Histórico"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": {
            "field1": "name",
            "field2": "NomeArquivo"
          }
        },
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        -688
      ],
      "name": "[Filtro] Apenas Novas"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        928,
        -688
      ],
      "name": "[Filtro] 1 por Dia"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": {
            "leftValue": "={{ $json.body !== undefined }}",
            "rightValue": "",
            "operator": {
              "type": "boolean",
              "operation": "true",
              "singleValue": true
            }
          },
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5232,
        -320
      ],
      "name": "[Router] Manual ou Auto?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5840,
        -144
      ],
      "name": "[Loop] Fila de Posts"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": {
                  "leftValue": "={{ $json.rede }}",
                  "rightValue": "=lk",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                },
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": {
                  "leftValue": "={{ $json.rede }}",
                  "rightValue": "=ig",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                },
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": {
                  "leftValue": "={{ $json.rede }}",
                  "rightValue": "fb",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                },
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": {
                  "leftValue": "={{ $json.rede }}",
                  "rightValue": "tw",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                },
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        64
      ],
      "name": "[Router] Escolher Rede"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1216,
        -688
      ],
      "name": "[Drive] Baixar Foto"
    },
    {
      "parameters": {
        "content": "# 📌 DOCUMENTAÇÃO DO FLUXO (Vesper Híbrido)\n\n## 1. ENTRADAS (Quem inicia?)\n* **⏰ Automático:** O nó `[Trigger] Horário Diário` acorda o fluxo (08h e 12h).\n  * **Fluxo:** `[Drive] Listar Fotos` → `[Sheets] Ler Histórico` → `[Filtro] Apenas Novas` → `[Drive] Baixar Foto` → `[Sheets] Registrar Uso`.\n* **👋 Manual:** O nó `Gatilho: Ingestão de Imagem` recebe uploads diretos.\n\n## 2. O NÚCLEO (Inteligência)\n* **👁️ Visão:** `IA Visão: Gemini (Primário)` analisa a imagem.\n* **🌍 Notícias:** `Buscar Noticias` traz dados do OilPrice.\n* **✍️ Redação:** `IA Redação: OpenAI` escreve o texto com base na visão + notícias.\n* **🎨 Imagem:** `Edição Foto` redimensiona para 1920px (Qualidade 92).\n\n## 3. A DISTRIBUIÇÃO\n* O nó **`[Router] Escolher Rede`** direciona para:\n  * **LinkedIn / Facebook:** Postagem direta.\n  * **Instagram:** Usa \"Hospedagem Oculta\" no Facebook (`published: false`) → Pega Link → Posta.\n  * **Twitter (X):** Upload Mídia (API v1.1) → Cria Tweet (API v2).\n\n---\n\n## 🛠️ GUIA RÁPIDO DE MANUTENÇÃO\n| Para alterar... | Mexa neste nó: |\n| :--- | :--- |\n| **Horários** | `[Trigger] Horário Diário` |\n| **Pasta Drive** | `[Drive] Listar Fotos` (Query param) |\n| **Planilha** | `[Sheets] Ler Histórico` |\n| **Prompt IA** | `IA Redação: OpenAI` |\n| **Twitter** | `[X] Upload Mídia` (Se der erro 403, cheque chaves OAuth1) |",
        "height": 960,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        -1248
      ],
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": {
            "parameterType": "formBinaryData",
            "name": "media",
            "inputDataFieldName": "data"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        944,
        432
      ],
      "name": "[X] Upload Mídia",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "text": "={{ $('[Router] Escolher Rede').item.json.texto.slice(0, 280) }}",
        "additionalFields": {
          "attachments": "={{ $json.media_id_string }}"
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1152,
        432
      ],
      "name": "Postagem X",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ☢️ FIX NUCLEAR: Recriação Total do Arquivo\n\nconst item = $input.first();\nlet binaryFinal = null;\nlet nomeArquivo = 'imagem_recuperada.jpg';\nlet mimeType = 'image/jpeg';\n\n// Tenta achar o binário em qualquer lugar (Input ou Backup)\n// 1. Verifica Input Atual\nif (item.binary) {\n  for (const key of Object.keys(item.binary)) {\n    if (item.binary[key]) {\n      binaryFinal = item.binary[key];\n      break;\n    }\n  }\n}\n\n// 2. Verifica Backup (Padronizador) se o Input falhou\nif (!binaryFinal) {\n  try {\n    const padronizador = $items(\"Padronizador de Binário\");\n    if (padronizador && padronizador[0] && padronizador[0].binary) {\n       // Pega o primeiro binário que achar lá\n       const keys = Object.keys(padronizador[0].binary);\n       binaryFinal = padronizador[0].binary[keys[0]];\n    }\n  } catch(e) {}\n}\n\n// Se não achou nada, desiste\nif (!binaryFinal) {\n  throw new Error(\"❌ Imagem não encontrada nem no input nem no backup.\");\n}\n\n// AQUI ESTÁ O SEGREDO:\n// Nós não confiamos no \"Stream\" (o fluxo de dados). \n// Nós pegamos o arquivo e clonamos ele em memória agora.\n// Isso resolve 100% dos erros de \"Empty Buffer\".\nconst novoBinario = await this.helpers.prepareBinaryData(\n  await this.helpers.getBinaryDataBuffer(0, 'data').catch(() => {\n      // Se falhar ler do 0, tentamos ler o arquivo via ponteiro direto (hack)\n      // Mas geralmente, ao chegar aqui, se o binaryFinal existe, o n8n sabe lidar\n      // Se der erro aqui, é pq o arquivo realmente sumiu do disco do servidor.\n      return Buffer.from(\"\"); \n  }),\n  binaryFinal.fileName || nomeArquivo,\n  binaryFinal.mimeType || mimeType\n);\n\n// Se o passo acima falhou (buffer vazio), vamos tentar um bypass manual\n// Retornando o objeto original forçando o n8n a re-ler no próximo nó\nreturn {\n  json: item.json,\n  binary: {\n    data: binaryFinal // Envia o arquivo original (Plano B que você comentou)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4240,
        -752
      ],
      "name": "Verificação da imagem"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qJhzMA4n_YMucqg3-0rOZ7fi0OiaUmdV-hiUwaG2sgc",
          "mode": "list",
          "cachedResultName": "Controle de Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qJhzMA4n_YMucqg3-0rOZ7fi0OiaUmdV-hiUwaG2sgc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qJhzMA4n_YMucqg3-0rOZ7fi0OiaUmdV-hiUwaG2sgc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NomeArquivo": "={{ $('[Filtro] Apenas Novas').item.json.name }}"
          },
          "matchingColumns": "NomeArquivo",
          "schema": {
            "displayName": "NomeArquivo",
            "required": false,
            "defaultMatch": false,
            "display": true,
            "type": "string",
            "canBeUsedToMatch": true,
            "removed": false
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        -1008
      ],
      "name": "[Sheets] Registrar Uso1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qJhzMA4n_YMucqg3-0rOZ7fi0OiaUmdV-hiUwaG2sgc",
          "mode": "list",
          "cachedResultName": "Controle de Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qJhzMA4n_YMucqg3-0rOZ7fi0OiaUmdV-hiUwaG2sgc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qJhzMA4n_YMucqg3-0rOZ7fi0OiaUmdV-hiUwaG2sgc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NomeArquivo": "={{ $json.NomeArquivo }}",
            "Data": "={{ $json.Data }}",
            "Linkedin": "={{ $json.Linkedin }}",
            "Instagram": "={{ $json.Instagram }}",
            "Facebook": "={{ $json.Facebook }}",
            "Twitter": "={{ $json.Twitter }}"
          },
          "matchingColumns": null,
          "schema": [
            {
              "displayName": "NomeArquivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "Twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6576,
        -160
      ],
      "name": "[Sheets] Registrar Uso"
    },
    {
      "parameters": {
        "jsCode": "// Resumidor V13 — LinkedIn duplo + status confiável\n// Se quiser abrir o link de correção só no seu PC, deixe localhost.\n// Se quiser abrir do celular/fora do PC, troque para sua URL pública.\nconst N8N_URL = \"http://localhost:5678\";\n\nconst resumo = {\n  NomeArquivo: \"Nome Não Encontrado\",\n  Data: \"\",\n  Linkedin: \"—\",\n  Instagram: \"—\",\n  Facebook: \"—\",\n  Twitter: \"—\",\n  _detalhes: {}\n};\n\nfunction erroPadrao(nomeNo, linkPadrao) {\n  return {\n    texto: \"Erro ❌\",\n    url: `${N8N_URL}/execution/${$execution.id}`,\n    cor: \"#ef4444\",\n    origem: nomeNo,\n    linkPadrao\n  };\n}\n\nfunction auditarRede(nomeNo, tipoRede, linkPadrao) {\n  try {\n    const execucoes = $items(nomeNo);\n\n    if (!execucoes || execucoes.length === 0) {\n      return erroPadrao(nomeNo, linkPadrao);\n    }\n\n    const dados = execucoes[0].json || {};\n\n    if (dados.error || (dados.statusCode && dados.statusCode >= 400)) {\n      return erroPadrao(nomeNo, linkPadrao);\n    }\n\n    const res = {\n      texto: \"Postado ✅\",\n      url: linkPadrao,\n      cor: \"#22c55e\",\n      origem: nomeNo\n    };\n\n    if (tipoRede === \"linkedin\") {\n      const id = dados.id || dados.updateKey || dados.urn;\n      if (id) res.url = `https://www.linkedin.com/feed/update/${id}`;\n    } else if (tipoRede === \"facebook\") {\n      const id = dados.id || dados.post_id;\n      if (id) res.url = `https://www.facebook.com/${id}`;\n    } else if (tipoRede === \"twitter\") {\n      const idTw = dados.data?.id || dados.id || dados.id_str;\n      if (idTw) res.url = `https://twitter.com/i/web/status/${idTw}`;\n    } else if (tipoRede === \"instagram\") {\n      if (dados.permalink) res.url = dados.permalink;\n    }\n\n    return res;\n  } catch (e) {\n    return erroPadrao(nomeNo, linkPadrao);\n  }\n}\n\nfunction consolidarLinkedin(a, b) {\n  const ambosOk = a.texto === \"Postado ✅\" && b.texto === \"Postado ✅\";\n\n  if (ambosOk) {\n    return {\n      texto: \"Postado ✅\",\n      url: a.url || b.url || \"https://www.linkedin.com/\",\n      cor: \"#22c55e\",\n      contas: {\n        Vinicius: a.texto,\n        Wilson: b.texto\n      }\n    };\n  }\n\n  return {\n    texto: \"Erro ❌\",\n    url: `${N8N_URL}/execution/${$execution.id}`,\n    cor: \"#ef4444\",\n    contas: {\n      Vinicius: a.texto,\n      Wilson: b.texto\n    }\n  };\n}\n\n// LinkedIn em duas contas\nconst rLkVinicius = auditarRede(\n  \"Postagem linkedin (Vinicius)\",\n  \"linkedin\",\n  \"https://www.linkedin.com/\"\n);\n\nconst rLkWilson = auditarRede(\n  \"Postagem linkedin (Wilson)\",\n  \"linkedin\",\n  \"https://www.linkedin.com/\"\n);\n\nconst rLk = consolidarLinkedin(rLkVinicius, rLkWilson);\n\n// Demais redes\nconst rFb = auditarRede(\n  \"Postagem Facebook\",\n  \"facebook\",\n  \"https://www.facebook.com/\"\n);\n\nconst rTw = auditarRede(\n  \"Postagem X\",\n  \"twitter\",\n  \"https://twitter.com/home\"\n);\n\n// Instagram: tenta link exato; se falhar, usa publicação\nlet rIg = auditarRede(\n  \"Vagão 5: Pegar Link\",\n  \"instagram\",\n  \"https://www.instagram.com/\"\n);\n\nif (rIg.texto !== \"Postado ✅\") {\n  rIg = auditarRede(\n    \"Vagão 4: Publicar\",\n    \"instagram\",\n    \"https://www.instagram.com/\"\n  );\n}\n\n// Saída principal\nresumo.Linkedin = rLk.texto;\nresumo.Facebook = rFb.texto;\nresumo.Twitter = rTw.texto;\nresumo.Instagram = rIg.texto;\n\n// Detalhes para e-mail/debug\nresumo._detalhes = {\n  Linkedin: rLk,\n  LinkedinVinicius: rLkVinicius,\n  LinkedinWilson: rLkWilson,\n  Facebook: rFb,\n  Twitter: rTw,\n  Instagram: rIg\n};\n\nconst agora = new Date();\nresumo.Data = agora.toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\n// Nome do arquivo\ntry {\n  const listaOrigem = $items(\"Padronizador de Binário\");\n\n  if (listaOrigem && listaOrigem.length > 0) {\n    const origem = listaOrigem[0];\n\n    if (origem.binary && Object.keys(origem.binary).length > 0) {\n      resumo.NomeArquivo =\n        origem.binary[Object.keys(origem.binary)[0]].fileName;\n    } else if (origem.json) {\n      resumo.NomeArquivo = origem.json.fileName || origem.json.name;\n    }\n  } else {\n    const listaFiltro = $items(\"[Filtro] Apenas Novas\");\n    if (listaFiltro && listaFiltro.length > 0) {\n      resumo.NomeArquivo = listaFiltro[0].json.name;\n    }\n  }\n} catch (erro) {}\n\nreturn { json: resumo };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6320,
        -160
      ],
      "name": "O Nó \"Resumidor\""
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/postagem-redes/runtime/foto_bypass.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        4000,
        -704
      ],
      "name": "Gravar no Disco"
    },
    {
      "parameters": {
        "fileSelector": "=/files/postagem-redes/runtime/foto_bypass.jpg",
        "options": {
          "fileName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        4432,
        -656
      ],
      "name": "Ler do Disco"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('[Filtro] 1 por Dia').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4320,
        -320
      ],
      "name": "[Google Drive (Download Fresco)]"
    },
    {
      "parameters": {
        "jsCode": "// Goleiro V8: O Perito Forense (Extração via Regex e Busca Profunda) 🕵️‍♂️🔬\n\n// Variáveis para construir o resultado perfeito\nlet jsonFinal = {};\nlet binaryFinal = {};\nlet logs = [];\n\n// Pega TUDO que entrou no nó (pode ser 1 item ou vários)\nconst items = $input.all();\n\n// ======================================================\n// 1. CAÇADA AO TESOURO (TEXTO/JSON)\n// ======================================================\nfor (let i = 0; i < items.length; i++) {\n    const item = items[i];\n    const dados = item.json;\n\n    // Lugares onde a IA pode ter escondido o JSON\n    const lugares = [\n        dados.text, \n        dados.output, \n        dados.conteudo_gerado,\n        dados.message?.content, \n        dados.response, \n        dados.result,\n        dados // O próprio objeto pode ser o JSON já parseado\n    ];\n\n    for (const valor of lugares) {\n        if (!valor) continue;\n\n        // A. Se já for objeto e tiver a chave 'pt', achamos!\n        if (typeof valor === 'object' && valor.pt) {\n            jsonFinal = { ...jsonFinal, ...valor }; // Salva os dados\n            logs.push(`Item ${i}: JSON Objeto encontrado direto.`);\n            // Salva o texto stringificado para o Separador usar depois\n            jsonFinal.text = JSON.stringify(valor);\n            break; \n        }\n\n        // B. Se for string, vamos usar CIRURGIA (Regex) para extrair o JSON\n        if (typeof valor === 'string') {\n            try {\n                // Regex: Procura o primeiro '{' e vai até o último '}'\n                // Isso ignora \"Aqui está seu JSON:\" ou \"```json\"\n                const match = valor.match(/\\{[\\s\\S]*\\}/);\n                \n                if (match) {\n                    const possivelJson = JSON.parse(match[0]);\n                    // Validação: Tem a chave 'pt'? Então é o nosso!\n                    if (possivelJson.pt) {\n                        jsonFinal = { ...jsonFinal, ...possivelJson };\n                        jsonFinal.text = match[0]; // Salva o texto limpo\n                        logs.push(`Item ${i}: JSON extraído via Regex.`);\n                        break;\n                    }\n                }\n            } catch (e) {\n                // Se falhar o parse, continua procurando...\n            }\n        }\n    }\n    \n    // Se já achamos o JSON ('pt'), paramos de procurar texto\n    if (jsonFinal.pt) break; \n}\n\n// ======================================================\n// 2. CAÇADA AO TESOURO (IMAGEM/BINÁRIO)\n// ======================================================\nfor (const item of items) {\n    if (item.binary) {\n        const chaves = Object.keys(item.binary);\n        if (chaves.length > 0) {\n            // Pega o primeiro binário válido que encontrar\n            const nomeBin = chaves[0];\n            if (item.binary[nomeBin].data) {\n                binaryFinal = { [nomeBin]: item.binary[nomeBin] };\n                logs.push(\"Binário encontrado.\");\n                break; // Achou uma imagem? Ótimo, paramos.\n            }\n        }\n    }\n}\n\n// ======================================================\n// 3. RELATÓRIO FINAL\n// ======================================================\n\n// Verifica se achou o texto\nif (!jsonFinal.pt) {\n    jsonFinal.error = \"Nenhum JSON válido (com chave 'pt') foi encontrado.\";\n    jsonFinal.status_texto = \"Falha V8 ❌\";\n    jsonFinal.debug_log = logs;\n    // Mostra o que chegou para ajudar no debug\n    jsonFinal.dump_input_keys = items.map(i => Object.keys(i.json)); \n} else {\n    jsonFinal.status_texto = \"Sucesso V8 ✅\";\n}\n\n// Verifica se achou a imagem\nif (Object.keys(binaryFinal).length === 0) {\n    jsonFinal.aviso_sistema = \"❌ Falhou tudo (Sem foto).\";\n} else {\n    jsonFinal.aviso_sistema = \"✨ Foto e Texto Sincronizados.\";\n}\n\n// Preserva metadados importantes (como Nome do Arquivo)\n// Procura em todos os itens até achar\nfor (const item of items) {\n    if (item.json.NomeArquivo) {\n        jsonFinal.NomeArquivo = item.json.NomeArquivo;\n        break;\n    }\n}\n\nreturn {\n    json: jsonFinal,\n    binary: binaryFinal\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4912,
        -832
      ],
      "name": "Code (Goleiro)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": {
            "leftValue": "={{ $json.Linkedin }} {{ $json.Facebook }} {{ $json.Instagram }} {{ $json.Twitter }}",
            "rightValue": "Erro",
            "operator": {
              "type": "string",
              "operation": "contains"
            }
          },
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6992,
        -160
      ],
      "name": "[Auditor] Verificacao Final"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.id }}?fields=permalink",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2064,
        80
      ],
      "name": "Vagão 5: Pegar Link"
    },
    {
      "parameters": {
        "fromEmail": "{{CONFIGURE_EMAIL_IN_N8N}}",
        "toEmail": "{{CONFIGURE_EMAIL_IN_N8N}}",
        "subject": "=✅ Sucesso: Post {{ $json.NomeArquivo }} publicado!",
        "html": "=<h3 style=\"color:green; font-family: sans-serif;\">🚀 Postagem Realizada com Sucesso!</h3>\n<p style=\"font-family: sans-serif;\">O robô finalizou o ciclo sem erros.</p>\n\n<p style=\"font-family: sans-serif;\"><b>📁 Arquivo:</b> {{ $json.NomeArquivo }}</p>\n<p style=\"font-family: sans-serif;\"><b>📅 Data:</b> {{ $json.Data }}</p>\n\n<hr>\n<h4 style=\"font-family: sans-serif;\">📊 Status das Redes:</h4>\n\n<table style=\"width:100%; border-collapse:collapse; font-family:sans-serif;\">\n  \n  <tr style=\"border-bottom:1px solid #eee;\">\n    <td style=\"padding:12px;\"><b>LinkedIn</b></td>\n    <td style=\"padding:12px; font-weight:bold; color:{{ $json._detalhes.Linkedin.cor }}\">\n        {{ $json.Linkedin }}\n    </td>\n    <td style=\"padding:12px;\">\n      <a href=\"{{ $json._detalhes.Linkedin.url }}\" target=\"_blank\" style=\"display:inline-block; text-decoration:none; background-color:#0077b5; color:#ffffff; padding:8px 15px; border-radius:5px; font-size:12px; font-weight:bold; min-width:90px; text-align:center;\">\n        👁️ Ver Post\n      </a>\n    </td>\n  </tr>\n  \n  <tr style=\"border-bottom:1px solid #eee;\">\n    <td style=\"padding:12px;\"><b>Facebook</b></td>\n    <td style=\"padding:12px; font-weight:bold; color:{{ $json._detalhes.Facebook.cor }}\">\n        {{ $json.Facebook }}\n    </td>\n    <td style=\"padding:12px;\">\n      <a href=\"{{ $json._detalhes.Facebook.url }}\" target=\"_blank\" style=\"display:inline-block; text-decoration:none; background-color:#1877f2; color:#ffffff; padding:8px 15px; border-radius:5px; font-size:12px; font-weight:bold; min-width:90px; text-align:center;\">\n        👁️ Ver Post\n      </a>\n    </td>\n  </tr>\n\n  <tr style=\"border-bottom:1px solid #eee;\">\n    <td style=\"padding:12px;\"><b>Instagram</b></td>\n    <td style=\"padding:12px; font-weight:bold; color:{{ $json._detalhes.Instagram.cor }}\">\n        {{ $json.Instagram }}\n    </td>\n    <td style=\"padding:12px;\">\n      <a href=\"{{ $json._detalhes.Instagram.url }}\" target=\"_blank\" style=\"display:inline-block; text-decoration:none; background-color:#e1306c; color:#ffffff; padding:8px 15px; border-radius:5px; font-size:12px; font-weight:bold; min-width:90px; text-align:center;\">\n         👁️ Ver Post\n      </a>\n    </td>\n  </tr>\n\n  <tr style=\"border-bottom:1px solid #eee;\">\n    <td style=\"padding:12px;\"><b>Twitter (X)</b></td>\n    <td style=\"padding:12px; font-weight:bold; color:{{ $json._detalhes.Twitter.cor }}\">\n        {{ $json.Twitter }}\n    </td>\n    <td style=\"padding:12px;\">\n      <a href=\"{{ $json._detalhes.Twitter.url }}\" target=\"_blank\" style=\"display:inline-block; text-decoration:none; background-color:#000000; color:#ffffff; padding:8px 15px; border-radius:5px; font-size:12px; font-weight:bold; min-width:90px; text-align:center;\">\n         👁️ Ver Post\n      </a>\n    </td>\n  </tr>\n\n</table>\n\n<p style=\"margin-top:20px; font-size:12px; color:#666; font-family: sans-serif;\"><i>Planilha de controle atualizada.</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        7200,
        -64
      ],
      "name": "[Email] Relatório de Sucesso",
      "webhookId": "ed3bdc6b-2a10-40a1-af5e-fb1907e160a8"
    },
    {
      "parameters": {
        "fromEmail": "{{CONFIGURE_EMAIL_IN_N8N}}",
        "toEmail": "{{CONFIGURE_EMAIL_IN_N8N}}",
        "subject": "=🚨 ATENÇÃO: Falha ao postar {{ $json.NomeArquivo }}",
        "html": "=<h3 style=\"color:#ef4444; font-family: sans-serif;\">⚠️ Falha na Distribuição</h3>\n<p style=\"font-family: sans-serif;\">Algumas redes não aceitaram o conteúdo.</p>\n<p style=\"font-family: sans-serif;\"><b>📁 Arquivo:</b> {{ $json.NomeArquivo }}</p>\n\n<hr>\n\n<table style=\"width:100%; border-collapse:collapse; font-family:sans-serif;\">\n  \n  <tr>\n    <td style=\"padding:8px; width:100px;\"><b>LinkedIn:</b></td>\n    <td style=\"padding:8px; color:{{ $json._detalhes.Linkedin.cor }}\"><b>{{ $json.Linkedin }}</b></td>\n    <td style=\"padding:8px;\">\n       <a href=\"{{ $json._detalhes.Linkedin.url }}\" style=\"text-decoration:none; background:{{ $json._detalhes.Linkedin.cor }}; color:white; padding:5px 10px; border-radius:4px; font-size:12px; margin-right:5px;\">👁️ Ver / Corrigir</a>\n       \n       <a href=\"{{ $json._detalhes.Linkedin.urlRetry }}\" style=\"text-decoration:none; background:#f59e0b; color:white; padding:5px 10px; border-radius:4px; font-size:12px; display: {{ $json._detalhes.Linkedin.urlRetry ? 'inline-block' : 'none' }}\">🔄 Tentar Novamente</a>\n    </td>\n  </tr>\n\n  <tr>\n    <td style=\"padding:8px;\"><b>Facebook:</b></td>\n    <td style=\"padding:8px; color:{{ $json._detalhes.Facebook.cor }}\"><b>{{ $json.Facebook }}</b></td>\n    <td style=\"padding:8px;\">\n       <a href=\"{{ $json._detalhes.Facebook.url }}\" style=\"text-decoration:none; background:{{ $json._detalhes.Facebook.cor }}; color:white; padding:5px 10px; border-radius:4px; font-size:12px; margin-right:5px;\">👁️ Ver / Corrigir</a>\n       <a href=\"{{ $json._detalhes.Facebook.urlRetry }}\" style=\"text-decoration:none; background:#f59e0b; color:white; padding:5px 10px; border-radius:4px; font-size:12px; display: {{ $json._detalhes.Facebook.urlRetry ? 'inline-block' : 'none' }}\">🔄 Tentar Novamente</a>\n    </td>\n  </tr>\n\n   <tr>\n    <td style=\"padding:8px;\"><b>Instagram:</b></td>\n    <td style=\"padding:8px; color:{{ $json._detalhes.Instagram.cor }}\"><b>{{ $json.Instagram }}</b></td>\n    <td style=\"padding:8px;\">\n       <a href=\"{{ $json._detalhes.Instagram.url }}\" style=\"text-decoration:none; background:{{ $json._detalhes.Instagram.cor }}; color:white; padding:5px 10px; border-radius:4px; font-size:12px; margin-right:5px;\">👁️ Ver / Corrigir</a>\n       <a href=\"{{ $json._detalhes.Instagram.urlRetry }}\" style=\"text-decoration:none; background:#f59e0b; color:white; padding:5px 10px; border-radius:4px; font-size:12px; display: {{ $json._detalhes.Instagram.urlRetry ? 'inline-block' : 'none' }}\">🔄 Tentar Novamente</a>\n    </td>\n  </tr>\n\n   <tr>\n    <td style=\"padding:8px;\"><b>Twitter:</b></td>\n    <td style=\"padding:8px; color:{{ $json._detalhes.Twitter.cor }}\"><b>{{ $json.Twitter }}</b></td>\n    <td style=\"padding:8px;\">\n       <a href=\"{{ $json._detalhes.Twitter.url }}\" style=\"text-decoration:none; background:{{ $json._detalhes.Twitter.cor }}; color:white; padding:5px 10px; border-radius:4px; font-size:12px; margin-right:5px;\">👁️ Ver / Corrigir</a>\n       <a href=\"{{ $json._detalhes.Twitter.urlRetry }}\" style=\"text-decoration:none; background:#f59e0b; color:white; padding:5px 10px; border-radius:4px; font-size:12px; display: {{ $json._detalhes.Twitter.urlRetry ? 'inline-block' : 'none' }}\">🔄 Tentar Novamente</a>\n    </td>\n  </tr>\n\n</table>\n\n<p style=\"color:#666; font-size:12px; margin-top:20px; font-family: sans-serif;\">\n  <b>👁️ Ver / Corrigir:</b> Abre o post ou o painel do n8n.<br>\n  <b>🔄 Tentar Novamente:</b> Reenvia o fluxo automaticamente.\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        7200,
        -256
      ],
      "name": "[Email] Alerta de Falha Parcial",
      "webhookId": "9314cf14-783b-4924-8dc8-e4aa17ae37c7"
    },
    {
      "parameters": {
        "jsCode": "// Restaurador Inteligente 🧠🛠️\n// Função: Garante que os dados ricos (links/cores) cheguem no e-mail,\n// mesmo que a Planilha tenha filtrado eles.\n\nconst item = $input.first();\nconst json = item.json;\n\n// 1. Verifica: Eu tenho os detalhes aqui comigo?\n// (Geralmente vêm nulos porque o Sheets limpou)\nlet detalhes = json._detalhes;\nlet nomeArquivo = json.NomeArquivo;\nlet data = json.Data;\n\n// 2. Lógica de Resgate: \"Se não tiver, pega no de trás\"\nif (!detalhes) {\n   try {\n      // ⚠️ AQUI ESTÁ A MÁGICA:\n      // Busca os dados originais direto na memória do nó Resumidor\n      const dadosOriginais = $('O Nó \"Resumidor\"').item.json;\n      \n      // Restaura o pacote de detalhes (links, cores, botões)\n      detalhes = dadosOriginais._detalhes;\n      \n      // Se o nome do arquivo tiver se perdido, recupera também\n      if (!nomeArquivo || nomeArquivo === \"Nome Não Encontrado\") {\n          nomeArquivo = dadosOriginais.NomeArquivo;\n      }\n      if (!data) data = dadosOriginais.Data;\n      \n   } catch (erro) {\n      // Se der erro fatal, cria vazio para não travar o fluxo\n      detalhes = {}; \n   }\n}\n\n// 3. Entrega o pacote completo para o próximo nó (E-mail)\njson._detalhes = detalhes;\njson.NomeArquivo = nomeArquivo;\njson.Data = data;\n\nreturn { json: json };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6784,
        -160
      ],
      "name": "Nó \"Restaurador Inteligente"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('[Filtro] 1 por Dia').first().json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "16wgxRbkkXe8f_OQeJuHa7SPcFrkx8OCh",
          "mode": "list",
          "cachedResultName": "✅ Já Postados",
          "cachedResultUrl": "https://drive.google.com/drive/folders/16wgxRbkkXe8f_OQeJuHa7SPcFrkx8OCh"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        7408,
        -64
      ],
      "name": "[Drive] Mover para Processados"
    },
    {
      "parameters": {
        "jsCode": "// Nó 1: Gestor de Imagem (Prioridade: Edição > Original) 🖼️\n\nconst items = $input.all();\nlet binaryFinal = null;\nlet origem = \"Nenhuma\";\n\n// 1. Tenta pegar a imagem que veio do nó anterior (Edição Foto)\nfor (const item of items) {\n    if (item.binary && Object.keys(item.binary).length > 0) {\n        const key = Object.keys(item.binary)[0];\n        // Verifica se tem dados reais\n        if (item.binary[key].data) {\n            binaryFinal = item.binary[key];\n            origem = \"Edição/Fluxo\";\n            break;\n        }\n    }\n}\n\n// 2. FALHOU? Busca o Backup no nó \"Download Fresco\"\n// Isso salva o dia se o nó de Edição tiver falhado silenciosamente\nif (!binaryFinal) {\n    try {\n        // Busca os dados do nó EXATO que você tem no fluxo\n        const backupNode = $('[Google Drive (Download Fresco)]');\n        \n        if (backupNode && backupNode.first() && backupNode.first().binary) {\n            const binBack = backupNode.first().binary;\n            const keyBack = Object.keys(binBack)[0];\n            binaryFinal = binBack[keyBack];\n            origem = \"Resgate (Download Fresco)\";\n        }\n    } catch (e) {\n        // Ignora erro se não achar o nó\n    }\n}\n\n// 3. Prepara a Saída\n// Mantém o JSON original para o próximo nó ler o texto\nconst jsonOutput = items.length > 0 ? items[0].json : {};\n\n// Adiciona status para debug\njsonOutput.status_imagem = binaryFinal ? `Imagem OK (${origem})` : \"❌ Sem Imagem\";\n\nif (binaryFinal) {\n    return {\n        json: jsonOutput,\n        binary: {\n            data: binaryFinal // Padroniza o nome para 'data'\n        }\n    };\n} else {\n    // Passa sem binário para não quebrar o fluxo (o erro vai dar no post, mas o log fica salvo)\n    return { json: jsonOutput };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4816,
        -320
      ],
      "name": "Gestor de Imagem"
    },
    {
      "parameters": {
        "jsCode": "// Nó 2: Extrator de Texto (Busca Recursiva Profunda) 🕵️‍♂️📝\n\nconst item = $input.first();\n// Pegamos o JSON que veio do nó anterior (que veio do Merge originalmente)\nlet jsonEntrada = item.json; \n\n// Se por acaso o JSON veio vazio, tentamos pegar direto do Merge por segurança\ntry {\n    if (!jsonEntrada.text && !jsonEntrada.pt) {\n        const mergeData = $('Merge').first().json;\n        if (mergeData) jsonEntrada = { ...jsonEntrada, ...mergeData };\n    }\n} catch(e) {}\n\nlet jsonEncontrado = {};\nlet textoBruto = \"\";\n\n// ========================================================\n// FUNÇÃO RECURSIVA: O Segredo para achar o texto em Arrays\n// ========================================================\nfunction buscarTextoJson(obj) {\n    if (!obj) return null;\n\n    // 1. Se for string, verifica se parece nosso JSON (tem \"pt\" e \"linkedin\")\n    if (typeof obj === 'string') {\n        if (obj.includes('\"pt\"') && obj.includes('linkedin')) {\n            return obj;\n        }\n        return null;\n    }\n\n    // 2. Se for Array (ex: content: [{ text: ... }]), varre os itens\n    if (Array.isArray(obj)) {\n        for (const item of obj) {\n            const res = buscarTextoJson(item);\n            if (res) return res;\n        }\n        return null;\n    }\n\n    // 3. Se for Objeto, varre as chaves\n    if (typeof obj === 'object') {\n        // Se já achou o objeto pronto\n        if (obj.pt && obj.linkedin) return JSON.stringify(obj);\n\n        const chaves = Object.keys(obj);\n        for (const chave of chaves) {\n            // Ignora a parte binária para ser rápido\n            if (chave === 'binary' || chave === 'data') continue;\n            \n            const res = buscarTextoJson(obj[chave]);\n            if (res) return res;\n        }\n    }\n    return null;\n}\n\n// ========================================================\n// EXECUÇÃO\n// ========================================================\n\n// 1. Caça o texto em toda a estrutura\ntextoBruto = buscarTextoJson(jsonEntrada);\n\n// 2. Limpeza e Parse\nif (textoBruto) {\n    try {\n        // Regex Cirúrgico: Pega apenas o que está entre { e }\n        const match = textoBruto.match(/\\{[\\s\\S]*\\}/);\n        if (match) {\n            const limpo = match[0];\n            jsonEncontrado = JSON.parse(limpo);\n            jsonEntrada.status_texto = \"Sucesso Extração ✅\";\n        } else {\n            jsonEntrada.status_texto = \"⚠️ Achei texto mas falhei no Regex.\";\n        }\n    } catch (e) {\n        jsonEntrada.status_texto = \"⚠️ Erro no JSON.parse: \" + e.message;\n        // Salva o texto cru para você ler no debug se der erro\n        jsonEntrada.raw_text_debug = textoBruto; \n    }\n} else {\n    jsonEntrada.status_texto = \"❌ Nenhum JSON Vesper encontrado na estrutura.\";\n}\n\n// 3. Consolidação\n// Se achamos o ouro, copiamos para a raiz do JSON para o Router usar\nif (jsonEncontrado.pt) {\n    Object.assign(jsonEntrada, jsonEncontrado);\n    // Garante compatibilidade com nós antigos que buscam .text\n    jsonEntrada.text = JSON.stringify(jsonEncontrado);\n}\n\n// Retorna JSON tratado + Imagem que veio do nó anterior\nreturn {\n    json: jsonEntrada,\n    binary: item.binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5024,
        -320
      ],
      "name": "Extrator de Texto"
    },
    {
      "parameters": {
        "rule": {
          "interval": {
            "field": "cronExpression",
            "expression": "0 13 * * 2,3,4"
          }
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        -608
      ],
      "name": "[Trigger] Horário 12h",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Pegamos todos os items de entrada\nconst inputItems = $input.all();\n\nif (!inputItems.length) {\n  throw new Error('Nenhum item recebido do loop');\n}\n\n// Pegamos a imagem do PRIMEIRO item que tiver binary\nlet imageBinary = null;\n\nfor (const item of inputItems) {\n  if (item.binary?.data) {\n    imageBinary = item.binary.data;\n    break;\n  }\n}\n\nif (!imageBinary) {\n  throw new Error('Imagem (binary.data) não encontrada no input');\n}\n\n// Para cada item (lk, ig, fb, tw),\n// anexamos a MESMA imagem, sem mexer no texto\nconst outputItems = inputItems.map(item => ({\n  json: {\n    ...item.json // mantém rede, texto, idioma, etc\n  },\n  binary: {\n    data: imageBinary\n  }\n}));\n\nreturn outputItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        16
      ],
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "person": "pko9OrvToi",
        "text": "={{ $json.texto }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1008,
        -96
      ],
      "name": "Postagem linkedin (Vinicius)",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "person": "HHf6N3tn6-",
        "text": "={{ $json.texto }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "=data",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        832,
        -192
      ],
      "name": "Postagem linkedin (Wilson)",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": {
            "field": "cronExpression",
            "expression": "00 09 * * 1,3,5"
          }
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        -816
      ],
      "name": "[Trigger] Horário 8h"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": {
            "leftValue": "",
            "rightValue": "",
            "operator": {
              "type": "string",
              "operation": "equals",
              "name": "filter.operator.equals"
            }
          },
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5200,
        128
      ],
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "IA Visão: Gemini (Primário)": {
      "main": {
        "node": "Condicional: Falha no Gemini?",
        "type": "main",
        "index": 0
      }
    },
    "Condicional: Falha no Gemini?": {
      "main": [
        {
          "node": "Script: Normalização de Dados",
          "type": "main",
          "index": 0
        },
        {
          "node": "Script: Recuperação de Payload",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Script: Recuperação de Payload": {
      "main": {
        "node": "IA Visão: OpenAI (Redundância 1)",
        "type": "main",
        "index": 0
      }
    },
    "IA Visão: OpenAI (Redundância 1)": {
      "main": {
        "node": "Condicional: Falha na OpenAI?",
        "type": "main",
        "index": 0
      }
    },
    "Condicional: Falha na OpenAI?": {
      "main": [
        {
          "node": "Script: Normalização de Dados",
          "type": "main",
          "index": 0
        },
        {
          "node": "Script: Recuperação de Payload1",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Script: Normalização de Dados": {
      "main": {
        "node": "Buscar Noticias",
        "type": "main",
        "index": 0
      }
    },
    "IA Redação: OpenAI (Primário)": {
      "main": {
        "node": "Condicional: Falha na Redação?",
        "type": "main",
        "index": 0
      }
    },
    "Condicional: Falha na Redação?": {
      "main": [
        {
          "node": "Merge",
          "type": "main",
          "index": 0
        },
        {
          "node": "IA Redação Local: Ollama (Redundância)",
          "type": "main",
          "index": 0
        }
      ]
    },
    "IA Redação Local: Ollama (Redundância)": {
      "main": {
        "node": "Merge",
        "type": "main",
        "index": 0
      }
    },
    "Script: Recuperação de Payload1": {
      "main": {
        "node": "IA Visão Local: Ollama (Redundância 2)",
        "type": "main",
        "index": 0
      }
    },
    "IA Visão Local: Ollama (Redundância 2)": {
      "main": {
        "node": "Script: Normalização de Dados",
        "type": "main",
        "index": 0
      }
    },
    "Script: Processamento de Saída (HTML)": {
      "main": {
        "node": "Respond to Webhook",
        "type": "main",
        "index": 0
      }
    },
    "Merge": {
      "main": {
        "node": "[Google Drive (Download Fresco)]",
        "type": "main",
        "index": 0
      }
    },
    "Padronizador de Binário": {
      "main": [
        {
          "node": "Merge",
          "type": "main",
          "index": 1
        },
        {
          "node": "IA Visão: Gemini (Primário)",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Gatilho: Ingestão de Imagem": {
      "main": {
        "node": "Padronizador de Binário",
        "type": "main",
        "index": 0
      }
    },
    "Buscar Noticias": {
      "main": {
        "node": "Code Noticias",
        "type": "main",
        "index": 0
      }
    },
    "Code Noticias": {
      "main": {
        "node": "IA Redação: OpenAI (Primário)",
        "type": "main",
        "index": 0
      }
    },
    "Edição Foto": {
      "main": {
        "node": "Gestor de Imagem",
        "type": "main",
        "index": 0
      }
    },
    "Webhook Publicador": {
      "main": {
        "node": "Restaurar Binário",
        "type": "main",
        "index": 0
      }
    },
    "Restaurar Binário": {
      "main": {
        "node": "[Router] Escolher Rede",
        "type": "main",
        "index": 0
      }
    },
    "Vagão 1: \"Hospedar\" a Foto": {
      "main": {
        "node": "Vagão 2: Pegar o Link",
        "type": "main",
        "index": 0
      }
    },
    "Vagão 2: Pegar o Link": {
      "main": {
        "node": "Vagão 3: Criar o Container",
        "type": "main",
        "index": 0
      }
    },
    "Vagão 3: Criar o Container": {
      "main": {
        "node": "Vagão 4: Publicar",
        "type": "main",
        "index": 0
      }
    },
    "Postagem instagram": {
      "main": {
        "node": "Vagão 1: \"Hospedar\" a Foto",
        "type": "main",
        "index": 0
      }
    },
    "Code (O Separador)": {
      "main": {
        "node": "[Loop] Fila de Posts",
        "type": "main",
        "index": 0
      }
    },
    "Replace Me": {
      "main": {
        "node": "[Loop] Fila de Posts",
        "type": "main",
        "index": 0
      }
    },
    "[Drive] Listar Fotos": {
      "main": [
        {
          "node": "[Drive] Separar Itens",
          "type": "main",
          "index": 0
        },
        {
          "node": "[Sheets] Ler Histórico",
          "type": "main",
          "index": 0
        }
      ]
    },
    "[Drive] Separar Itens": {
      "main": {
        "node": "[Filtro] Apenas Novas",
        "type": "main",
        "index": 0
      }
    },
    "[Sheets] Ler Histórico": {
      "main": {
        "node": "[Filtro] Apenas Novas",
        "type": "main",
        "index": 1
      }
    },
    "[Filtro] Apenas Novas": {
      "main": {
        "node": "[Filtro] 1 por Dia",
        "type": "main",
        "index": 0
      }
    },
    "[Filtro] 1 por Dia": {
      "main": {
        "node": "[Drive] Baixar Foto",
        "type": "main",
        "index": 0
      }
    },
    "[Router] Manual ou Auto?": {
      "main": [
        {
          "node": "Script: Processamento de Saída (HTML)",
          "type": "main",
          "index": 0
        },
        {
          "node": "Code (O Separador)",
          "type": "main",
          "index": 0
        }
      ]
    },
    "[Loop] Fila de Posts": {
      "main": [
        {
          "node": "O Nó \"Resumidor\"",
          "type": "main",
          "index": 0
        },
        {
          "node": "Replace Me",
          "type": "main",
          "index": 0
        },
        {
          "node": "Code in JavaScript",
          "type": "main",
          "index": 0
        }
      ]
    },
    "[Router] Escolher Rede": {
      "main": [
        {
          "node": "Postagem linkedin (Vinicius)",
          "type": "main",
          "index": 0
        },
        {
          "node": "Postagem linkedin (Wilson)",
          "type": "main",
          "index": 0
        },
        {
          "node": "Postagem instagram",
          "type": "main",
          "index": 0
        },
        {
          "node": "Postagem Facebook",
          "type": "main",
          "index": 0
        },
        {
          "node": "[X] Upload Mídia",
          "type": "main",
          "index": 0
        }
      ]
    },
    "[Drive] Baixar Foto": {
      "main": {
        "node": "Padronizador de Binário",
        "type": "main",
        "index": 0
      }
    },
    "[X] Upload Mídia": {
      "main": {
        "node": "Postagem X",
        "type": "main",
        "index": 0
      }
    },
    "Verificação da imagem": {
      "main": null
    },
    "[Sheets] Registrar Uso1": {
      "main": null
    },
    "O Nó \"Resumidor\"": {
      "main": [
        {
          "node": "[Sheets] Registrar Uso",
          "type": "main",
          "index": 0
        },
        {
          "node": "If",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Gravar no Disco": {
      "main": null
    },
    "Ler do Disco": {
      "main": null
    },
    "[Google Drive (Download Fresco)]": {
      "main": {
        "node": "Edição Foto",
        "type": "main",
        "index": 0
      }
    },
    "Code (Goleiro)": {
      "main": null
    },
    "[Sheets] Registrar Uso": {
      "main": {
        "node": "Nó \"Restaurador Inteligente",
        "type": "main",
        "index": 0
      }
    },
    "[Auditor] Verificacao Final": {
      "main": [
        {
          "node": "[Email] Alerta de Falha Parcial",
          "type": "main",
          "index": 0
        },
        {
          "node": "[Email] Relatório de Sucesso",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Vagão 4: Publicar": {
      "main": {
        "node": "Vagão 5: Pegar Link",
        "type": "main",
        "index": 0
      }
    },
    "Nó \"Restaurador Inteligente": {
      "main": {
        "node": "[Auditor] Verificacao Final",
        "type": "main",
        "index": 0
      }
    },
    "[Email] Relatório de Sucesso": {
      "main": {
        "node": "[Drive] Mover para Processados",
        "type": "main",
        "index": 0
      }
    },
    "Gestor de Imagem": {
      "main": {
        "node": "Extrator de Texto",
        "type": "main",
        "index": 0
      }
    },
    "Extrator de Texto": {
      "main": {
        "node": "[Router] Manual ou Auto?",
        "type": "main",
        "index": 0
      }
    },
    "[Trigger] Horário 12h": {
      "main": {
        "node": "[Drive] Listar Fotos",
        "type": "main",
        "index": 0
      }
    },
    "Code in JavaScript": {
      "main": {
        "node": "[Router] Escolher Rede",
        "type": "main",
        "index": 0
      }
    },
    "Postagem linkedin (Vinicius)": {
      "main": null
    },
    "[Trigger] Horário 8h": {
      "main": {
        "node": "[Drive] Listar Fotos",
        "type": "main",
        "index": 0
      }
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "09cef9b329ec85ec9228e4dc9910d2f1b5c610857100680c9e9e1323cb4f2624"
  },
  "tags": null
}
