workflows/04-portal-visual.sanitized.json
{
  "name": "Postagem Redes — Portal Visual",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "postagem-redes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        0
      ],
      "webhookId": "postagem-redes-postagem-redes"
    },
    {
      "parameters": {
        "jsCode": "\nconst fs = require('fs');\nconst path = require('path');\nconst ROOT = '/files/postagem-redes';\nconst INPUT = path.join(ROOT, 'entrada');\nconst STATE = path.join(ROOT, 'state.json');\nconst allowedStatuses = new Set(['pendente','aprovado','agendado','rejeitado','incompleto','publicado']);\nfunction slug(value) { const base=String(value).normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/(^-|-$)/g,'').slice(0,70)||'conteudo'; let h=0; for(const c of String(value)) h=((h<<5)-h+c.charCodeAt(0))|0; return base+'-'+(h>>>0).toString(36); }\nfunction safeText(value,max=5000){return String(value??'').replace(/\\0/g,'').trim().slice(0,max)}\nfunction readJson(file,fallback){try{return JSON.parse(fs.readFileSync(file,'utf8'))}catch{return fallback}}\nfunction saveState(state){const lock=STATE+'.lock'; let fd; try{fd=fs.openSync(lock,'wx')}catch{throw new Error('Outra alteração está em andamento. Atualize a página e tente novamente.')} try{const temp=STATE+'.tmp';fs.writeFileSync(temp,JSON.stringify(state,null,2),'utf8');fs.renameSync(temp,STATE)}finally{if(fd!==undefined)fs.closeSync(fd);try{fs.unlinkSync(lock)}catch{}}}\nfunction scan(){fs.mkdirSync(INPUT,{recursive:true}); const state=readJson(STATE,{version:1,records:{}}); state.records??={}; const folders=fs.readdirSync(INPUT,{withFileTypes:true}).filter(x=>x.isDirectory()).map(x=>x.name); const items=[]; for(const folder of folders){const dir=path.join(INPUT,folder);const files=fs.readdirSync(dir,{withFileTypes:true}).filter(x=>x.isFile()).map(x=>x.name);const slides=files.filter(x=>/\\.(png|jpe?g|webp)$/i.test(x)).sort((a,b)=>a.localeCompare(b,'pt-BR',{numeric:true}));const captionFile=files.find(x=>x.toLowerCase()==='texto.txt');const originalCaption=captionFile?safeText(fs.readFileSync(path.join(dir,captionFile),'utf8')):'';const id=slug(folder);const old=state.records[id]||{};const status=slides.length<1||!originalCaption&&!old.caption?'incompleto':allowedStatuses.has(old.status)?old.status:'pendente';items.push({id,folder,title:old.title||folder,slides,caption:old.caption??originalCaption,status,networks:Array.isArray(old.networks)?old.networks:[],scheduleAt:old.scheduleAt||'',updatedAt:old.updatedAt||'',audit:Array.isArray(old.audit)?old.audit:[]});} return {state,items}; }\n\nconst {items}=scan();\nconst template=\"<!doctype html>\\n<html lang=\\\"pt-BR\\\">\\n<head>\\n  <meta charset=\\\"utf-8\\\">\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1\\\">\\n  <title>Postagem Redes | Aprovação</title>\\n  <style>\\n    :root{--bg:#0e1118;--panel:#171c27;--panel2:#202838;--line:#303a4d;--text:#f5f7fb;--muted:#aab3c4;--red:#df2f35;--green:#2db979;--gold:#ffbf3f;--blue:#55a9ff}*{box-sizing:border-box}body{margin:0;background:linear-gradient(125deg,#0b0e14,#151b29);font:15px/1.45 Inter,Segoe UI,Arial,sans-serif;color:var(--text)}button,input,textarea,select{font:inherit}button{cursor:pointer;border:0;border-radius:9px;padding:10px 14px;font-weight:700}.top{padding:26px max(24px,calc((100vw - 1480px)/2));border-bottom:1px solid var(--line);background:#111620}.brand{display:flex;align-items:center;gap:14px}.mark{height:42px;width:42px;display:grid;place-items:center;border-radius:12px;background:var(--red);font-size:21px;font-weight:900}.title h1{font-size:22px;margin:0}.title p{color:var(--muted);margin:2px 0 0}.topbar{display:flex;justify-content:space-between;gap:16px;align-items:center}.notice{margin-top:19px;padding:11px 14px;border:1px solid #6c5222;background:#2c2414;color:#ffe0a0;border-radius:9px}.shell{max-width:1480px;margin:0 auto;padding:24px}.toolbar{display:flex;gap:12px;flex-wrap:wrap;align-items:center;margin-bottom:20px}.toolbar input,.toolbar select,.form input,.form textarea,.form select{background:#0f1420;border:1px solid var(--line);border-radius:8px;color:var(--text);padding:10px}.toolbar input{min-width:290px;flex:1}.primary{background:var(--red);color:white}.secondary{background:#2a3446;color:white}.ghost{background:transparent;color:var(--muted);border:1px solid var(--line)}.stats{display:flex;gap:10px;flex-wrap:wrap;margin-left:auto}.stat{background:var(--panel);border:1px solid var(--line);padding:7px 11px;border-radius:8px;color:var(--muted)}.stat b{color:white}.grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(285px,1fr));gap:17px}.card{background:var(--panel);border:1px solid var(--line);border-radius:13px;overflow:hidden;box-shadow:0 10px 30px #0002}.card:hover{border-color:#52627c;transform:translateY(-2px)}.thumb{height:226px;background:#0b0f17;position:relative;display:grid;place-items:center;overflow:hidden}.thumb img{width:100%;height:100%;object-fit:cover}.status{position:absolute;left:10px;top:10px;padding:5px 9px;border-radius:999px;background:#192131e8;font-size:12px;font-weight:800;text-transform:uppercase}.status.pendente{color:#ffe0a0}.status.aprovado,.status.agendado{color:#9ff0c8}.status.rejeitado,.status.incompleto{color:#ff9b9f}.cardbody{padding:15px}.card h2{font-size:16px;line-height:1.25;margin:0 0 9px}.meta{color:var(--muted);font-size:13px}.caption{height:65px;overflow:hidden;color:#ced5e2;margin:10px 0}.cardfoot{display:flex;justify-content:space-between;align-items:center;gap:9px}.badge{color:var(--blue);font-size:13px;font-weight:700}.dialog{position:fixed;inset:0;background:#05070bbb;display:none;align-items:center;justify-content:center;padding:18px;z-index:3}.dialog.open{display:flex}.modal{max-width:1130px;width:100%;max-height:94vh;overflow:auto;border:1px solid #41506b;background:#151b27;border-radius:14px;padding:22px;box-shadow:0 30px 80px #000}.modalhead{display:flex;justify-content:space-between;gap:12px;align-items:start}.modal h2{margin:0;font-size:21px}.preview{display:grid;grid-template-columns:minmax(0,1.18fr) minmax(320px,.82fr);gap:22px;margin-top:18px}.big{background:#0b0f17;border-radius:12px;overflow:hidden;position:relative}.big img{display:block;width:100%;max-height:64vh;object-fit:contain}.slides{display:flex;gap:7px;overflow:auto;margin-top:10px;padding-bottom:3px}.slides button{padding:0;border:2px solid transparent;border-radius:7px;background:none;flex:0 0 64px;height:64px;overflow:hidden}.slides button.active{border-color:var(--red)}.slides img{width:100%;height:100%;object-fit:cover}.form{display:grid;gap:11px}.form label{color:#c7d0df;font-size:13px;font-weight:700}.form textarea{resize:vertical;min-height:160px}.checks{display:grid;grid-template-columns:1fr 1fr;gap:7px}.checks label{display:flex;gap:7px;align-items:center;background:#0f1420;border:1px solid var(--line);border-radius:7px;padding:8px}.actions{display:flex;gap:9px;flex-wrap:wrap;margin-top:4px}.hidden{display:none!important}.empty{grid-column:1/-1;text-align:center;padding:60px 20px;color:var(--muted)}.toast{position:fixed;right:20px;bottom:20px;background:#21354b;border:1px solid #406a91;padding:13px 16px;border-radius:9px;display:none;z-index:5}.toast.show{display:block}.upload-grid{display:grid;grid-template-columns:1fr 1fr;gap:10px}.small{font-size:12px;color:var(--muted)}@media(max-width:800px){.topbar,.preview{display:block}.stats{margin:14px 0 0}.preview{display:block}.form{margin-top:18px}.toolbar input{min-width:100%}.modal{padding:16px}.shell{padding:16px}.thumb{height:210px}}\\n  </style>\\n</head>\\n<body>\\n  <header class=\\\"top\\\"><div class=\\\"topbar\\\"><div class=\\\"brand\\\"><div class=\\\"mark\\\">P</div><div class=\\\"title\\\"><h1>Postagem Redes</h1><p>Biblioteca visual, aprovação e fila de publicação</p></div></div><button class=\\\"secondary\\\" onclick=\\\"openUpload()\\\">+ Nova postagem rápida</button></div><div class=\\\"notice\\\">Modo de homologação: aprovar organiza o conteúdo na fila. Nenhuma rede será publicada até que as contas e credenciais sejam validadas.</div></header>\\n  <main class=\\\"shell\\\"><div class=\\\"toolbar\\\"><input id=\\\"search\\\" placeholder=\\\"Buscar por tema, legenda ou status\\\" oninput=\\\"render()\\\"><select id=\\\"filter\\\" onchange=\\\"render()\\\"><option value=\\\"\\\">Todos os status</option><option value=\\\"pendente\\\">Pendentes</option><option value=\\\"aprovado\\\">Aprovados</option><option value=\\\"agendado\\\">Agendados</option><option value=\\\"rejeitado\\\">Rejeitados</option><option value=\\\"incompleto\\\">Incompletos</option></select><button class=\\\"ghost\\\" onclick=\\\"location.reload()\\\">Atualizar biblioteca</button><div class=\\\"stats\\\" id=\\\"stats\\\"></div></div><section class=\\\"grid\\\" id=\\\"grid\\\"></section></main>\\n  <div class=\\\"dialog\\\" id=\\\"detailDialog\\\"><div class=\\\"modal\\\"><div class=\\\"modalhead\\\"><div><h2 id=\\\"detailTitle\\\"></h2><div class=\\\"small\\\" id=\\\"detailMeta\\\"></div></div><button class=\\\"ghost\\\" onclick=\\\"closeDialog('detailDialog')\\\">Fechar</button></div><div class=\\\"preview\\\"><div><div class=\\\"big\\\"><img id=\\\"bigImage\\\" alt=\\\"Prévia do carrossel\\\"></div><div class=\\\"slides\\\" id=\\\"slides\\\"></div></div><form class=\\\"form\\\" id=\\\"contentForm\\\"><input type=\\\"hidden\\\" name=\\\"action\\\" value=\\\"save\\\"><input type=\\\"hidden\\\" name=\\\"contentId\\\" id=\\\"contentId\\\"><label>Operador responsável<input name=\\\"operator\\\" id=\\\"operator\\\" required maxlength=\\\"80\\\" placeholder=\\\"Digite seu nome\\\"></label><label>Legenda<textarea name=\\\"caption\\\" id=\\\"caption\\\" required></textarea></label><label>Redes de destino</label><div class=\\\"checks\\\"><label><input type=\\\"checkbox\\\" name=\\\"network\\\" value=\\\"instagram\\\"> Instagram</label><label><input type=\\\"checkbox\\\" name=\\\"network\\\" value=\\\"facebook\\\"> Facebook</label><label><input type=\\\"checkbox\\\" name=\\\"network\\\" value=\\\"linkedin\\\"> LinkedIn</label><label><input type=\\\"checkbox\\\" name=\\\"network\\\" value=\\\"x\\\"> X / thread</label></div><label>Agendar para <span class=\\\"small\\\">(opcional)</span><input type=\\\"datetime-local\\\" name=\\\"scheduleAt\\\" id=\\\"scheduleAt\\\"></label><label>Status<select name=\\\"status\\\" id=\\\"status\\\"><option value=\\\"pendente\\\">Manter pendente</option><option value=\\\"aprovado\\\">Aprovar para fila imediata</option><option value=\\\"agendado\\\">Aprovar e agendar</option><option value=\\\"rejeitado\\\">Rejeitar</option></select></label><label>Comentário da decisão <span class=\\\"small\\\">(opcional)</span><textarea name=\\\"comment\\\" id=\\\"comment\\\" rows=\\\"3\\\" placeholder=\\\"Ex.: ajustar chamada do slide 1\\\"></textarea></label><div class=\\\"actions\\\"><button class=\\\"primary\\\" type=\\\"submit\\\">Salvar decisão</button><button class=\\\"secondary\\\" type=\\\"button\\\" onclick=\\\"markRejected()\\\">Rejeitar</button></div><div class=\\\"small\\\">O histórico registra operador, data, redes e decisão. Sem login, informe o operador corretamente.</div></form></div></div></div>\\n  <div class=\\\"dialog\\\" id=\\\"uploadDialog\\\"><div class=\\\"modal\\\" style=\\\"max-width:650px\\\"><div class=\\\"modalhead\\\"><div><h2>Nova postagem rápida</h2><div class=\\\"small\\\">Envie de 1 a 10 imagens e escreva a legenda. O conteúdo entrará como pendente.</div></div><button class=\\\"ghost\\\" onclick=\\\"closeDialog('uploadDialog')\\\">Fechar</button></div><form class=\\\"form\\\" id=\\\"uploadForm\\\" style=\\\"margin-top:18px\\\"><input type=\\\"hidden\\\" name=\\\"action\\\" value=\\\"upload\\\"><label>Operador responsável<input name=\\\"operator\\\" required maxlength=\\\"80\\\" placeholder=\\\"Digite seu nome\\\"></label><label>Título do conteúdo<input name=\\\"title\\\" required maxlength=\\\"120\\\" placeholder=\\\"Ex.: Visita técnica em obra\\\"></label><label>Imagens do carrossel<input name=\\\"images\\\" type=\\\"file\\\" accept=\\\"image/png,image/jpeg,image/webp\\\" multiple required></label><label>Legenda<textarea name=\\\"caption\\\" required placeholder=\\\"Texto que será publicado nas redes\\\"></textarea></label><div class=\\\"actions\\\"><button class=\\\"primary\\\" type=\\\"submit\\\">Enviar para aprovação</button></div></form></div></div>\\n  <div class=\\\"toast\\\" id=\\\"toast\\\"></div>\\n  <script>\\n    const CONTENTS=__POSTAGEM_REDES_DATA__; const asset=(id,file)=>`${location.origin}/webhook/postagem-redes-arquivo?id=${encodeURIComponent(id)}&file=${encodeURIComponent(file)}`; const api=`${location.origin}/webhook/postagem-redes-api`; let selected=null;\\n    const esc=s=>String(s??'').replace(/[&<>\\\"']/g,c=>({'&':'&amp;','<':'&lt;','>':'&gt;','\\\"':'&quot;',\\\"'\\\":'&#39;'}[c])); const label=s=>({pendente:'Pendente',aprovado:'Aprovado',agendado:'Agendado',rejeitado:'Rejeitado',incompleto:'Incompleto',publicado:'Publicado'}[s]||s);\\n    function render(){const q=document.querySelector('#search').value.toLowerCase(),f=document.querySelector('#filter').value;const rows=CONTENTS.filter(x=>(!f||x.status===f)&&(`${x.title} ${x.caption} ${x.status}`).toLowerCase().includes(q));const counts=CONTENTS.reduce((a,x)=>(a[x.status]=(a[x.status]||0)+1,a),{});document.querySelector('#stats').innerHTML=`<span class=\\\"stat\\\"><b>${CONTENTS.length}</b> conteúdos</span><span class=\\\"stat\\\"><b>${counts.pendente||0}</b> pendentes</span><span class=\\\"stat\\\"><b>${counts.aprovado||0}</b> aprovados</span>`;document.querySelector('#grid').innerHTML=rows.length?rows.map(x=>`<article class=\\\"card\\\"><div class=\\\"thumb\\\">${x.slides[0]?`<img src=\\\"${asset(x.id,x.slides[0])}\\\" alt=\\\"${esc(x.title)}\\\">`:''}<span class=\\\"status ${esc(x.status)}\\\">${label(x.status)}</span></div><div class=\\\"cardbody\\\"><h2>${esc(x.title)}</h2><div class=\\\"meta\\\">${x.slides.length} slides · ${x.updatedAt?`atualizado ${new Date(x.updatedAt).toLocaleString('pt-BR')}`:'novo'}</div><div class=\\\"caption\\\">${esc(x.caption||'Sem legenda — não pode publicar.')}</div><div class=\\\"cardfoot\\\"><span class=\\\"badge\\\">${(x.networks||[]).join(' · ')||'redes não definidas'}</span><button class=\\\"secondary\\\" onclick=\\\"openContent('${x.id}')\\\">Revisar</button></div></div></article>`).join(''):'<div class=\\\"empty\\\">Nenhum conteúdo encontrado com esse filtro.</div>'}\\n    function openContent(id){selected=CONTENTS.find(x=>x.id===id);if(!selected)return;document.querySelector('#detailTitle').textContent=selected.title;document.querySelector('#detailMeta').textContent=`${selected.slides.length} slides · status ${label(selected.status)}`;document.querySelector('#contentId').value=id;document.querySelector('#caption').value=selected.caption||'';document.querySelector('#status').value=selected.status==='publicado'?'pendente':selected.status;document.querySelector('#scheduleAt').value=selected.scheduleAt?selected.scheduleAt.slice(0,16):'';document.querySelectorAll('[name=network]').forEach(el=>el.checked=(selected.networks||[]).includes(el.value));showSlide(0);document.querySelector('#slides').innerHTML=selected.slides.map((s,i)=>`<button type=\\\"button\\\" class=\\\"${i===0?'active':''}\\\" onclick=\\\"showSlide(${i})\\\"><img src=\\\"${asset(id,s)}\\\" alt=\\\"Slide ${i+1}\\\"></button>`).join('');document.querySelector('#detailDialog').classList.add('open')}\\n    function showSlide(i){if(!selected)return;document.querySelector('#bigImage').src=asset(selected.id,selected.slides[i]);document.querySelectorAll('#slides button').forEach((b,n)=>b.classList.toggle('active',n===i))} function closeDialog(id){document.querySelector('#'+id).classList.remove('open')}function openUpload(){document.querySelector('#uploadDialog').classList.add('open')}function markRejected(){document.querySelector('#status').value='rejeitado';document.querySelector('#contentForm').requestSubmit()}function toast(m){const t=document.querySelector('#toast');t.textContent=m;t.classList.add('show');setTimeout(()=>t.classList.remove('show'),3500)}\\n    async function submit(form){const fd=new FormData(form);let r;if(form.id==='uploadForm'){r=await fetch(api,{method:'POST',body:fd})}else{const payload=Object.fromEntries(fd.entries());payload.networks=JSON.stringify([...form.querySelectorAll('[name=network]:checked')].map(x=>x.value));r=await fetch(api,{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify(payload)})}const data=await r.json().catch(()=>({ok:false,message:'Resposta inválida'}));if(!r.ok||!data.ok)throw Error(data.message||'Não foi possível salvar');toast(data.message||'Salvo');setTimeout(()=>location.reload(),700)} document.querySelector('#contentForm').addEventListener('submit',e=>{e.preventDefault();submit(e.target).catch(x=>toast(x.message))});document.querySelector('#uploadForm').addEventListener('submit',e=>{e.preventDefault();submit(e.target).catch(x=>toast(x.message))});render();\\n  </script>\\n</body></html>\\n\";\nconst data=JSON.stringify(items).replace(/</g,'\\u003c');\nreturn [{json:{html:template.replace('__POSTAGEM_REDES_DATA__',data)}}];"
      },
      "id": "code",
      "name": "Processar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        260,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Processar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
