workflows/05-portal-acoes.sanitized.json
{
  "name": "Postagem Redes — Portal: Ações",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "postagem-redes-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        0
      ],
      "webhookId": "postagem-redes-postagem-redes-api"
    },
    {
      "parameters": {
        "jsCode": "\nconst fs = require('fs');\nconst path = require('path');\nconst ROOT = '/files/postagem-redes';\nconst INPUT = path.join(ROOT, 'entrada');\nconst STATE = path.join(ROOT, 'state.json');\nconst allowedStatuses = new Set(['pendente','aprovado','agendado','rejeitado','incompleto','publicado']);\nfunction slug(value) { const base=String(value).normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/(^-|-$)/g,'').slice(0,70)||'conteudo'; let h=0; for(const c of String(value)) h=((h<<5)-h+c.charCodeAt(0))|0; return base+'-'+(h>>>0).toString(36); }\nfunction safeText(value,max=5000){return String(value??'').replace(/\\0/g,'').trim().slice(0,max)}\nfunction readJson(file,fallback){try{return JSON.parse(fs.readFileSync(file,'utf8'))}catch{return fallback}}\nfunction saveState(state){const lock=STATE+'.lock'; let fd; try{fd=fs.openSync(lock,'wx')}catch{throw new Error('Outra alteração está em andamento. Atualize a página e tente novamente.')} try{const temp=STATE+'.tmp';fs.writeFileSync(temp,JSON.stringify(state,null,2),'utf8');fs.renameSync(temp,STATE)}finally{if(fd!==undefined)fs.closeSync(fd);try{fs.unlinkSync(lock)}catch{}}}\nfunction scan(){fs.mkdirSync(INPUT,{recursive:true}); const state=readJson(STATE,{version:1,records:{}}); state.records??={}; const folders=fs.readdirSync(INPUT,{withFileTypes:true}).filter(x=>x.isDirectory()).map(x=>x.name); const items=[]; for(const folder of folders){const dir=path.join(INPUT,folder);const files=fs.readdirSync(dir,{withFileTypes:true}).filter(x=>x.isFile()).map(x=>x.name);const slides=files.filter(x=>/\\.(png|jpe?g|webp)$/i.test(x)).sort((a,b)=>a.localeCompare(b,'pt-BR',{numeric:true}));const captionFile=files.find(x=>x.toLowerCase()==='texto.txt');const originalCaption=captionFile?safeText(fs.readFileSync(path.join(dir,captionFile),'utf8')):'';const id=slug(folder);const old=state.records[id]||{};const status=slides.length<1||!originalCaption&&!old.caption?'incompleto':allowedStatuses.has(old.status)?old.status:'pendente';items.push({id,folder,title:old.title||folder,slides,caption:old.caption??originalCaption,status,networks:Array.isArray(old.networks)?old.networks:[],scheduleAt:old.scheduleAt||'',updatedAt:old.updatedAt||'',audit:Array.isArray(old.audit)?old.audit:[]});} return {state,items}; }\n\nconst item=$input.first(); const body=item.json.body||item.json||{}; const action=safeText(body.action,30); const operator=safeText(body.operator,80); if(!operator) throw new Error('Informe o nome do operador.');\nconst now=new Date().toISOString(); const {state,items}=scan();\nif(action==='upload'){\n const title=safeText(body.title,120); const caption=safeText(body.caption,5000); if(!title||!caption) throw new Error('Título e legenda são obrigatórios.'); const files=Object.values(item.binary||{}).filter(x=>['image/png','image/jpeg','image/webp'].includes(String(x.mimeType||'').toLowerCase())); if(files.length<1||files.length>10) throw new Error('Envie de 1 a 10 imagens PNG, JPG ou WEBP.');\n const base='rapido-'+Date.now()+'-'+slug(title).slice(0,24); const dir=path.join(INPUT,base); fs.mkdirSync(dir,{recursive:false}); files.sort((a,b)=>String(a.fileName||'').localeCompare(String(b.fileName||''),'pt-BR',{numeric:true})).forEach((file,index)=>{const ext=file.mimeType==='image/png'?'.png':file.mimeType==='image/webp'?'.webp':'.jpg'; fs.writeFileSync(path.join(dir,String(index+1).padStart(2,'0')+ext),Buffer.from(file.data,'base64'))}); fs.writeFileSync(path.join(dir,'Texto.txt'),caption,'utf8'); const id=slug(base); state.records[id]={title,caption,status:'pendente',networks:[],updatedAt:now,audit:[{at:now,operator,action:'criou conteúdo rápido'}]}; saveState(state); return [{json:{ok:true,message:'Conteúdo recebido e enviado para aprovação.',id}}];\n}\nif(action!=='save') throw new Error('Ação não reconhecida.'); const id=safeText(body.contentId,130); const content=items.find(x=>x.id===id); if(!content) throw new Error('Conteúdo não encontrado. Atualize a página.'); const caption=safeText(body.caption,5000); const status=safeText(body.status,30); if(!allowedStatuses.has(status)||status==='publicado') throw new Error('Status inválido.'); if(!caption) throw new Error('A legenda não pode ficar vazia.'); if(status==='agendado'&&!safeText(body.scheduleAt,40)) throw new Error('Informe data e hora para o agendamento.'); let networks=[]; try{networks=JSON.parse(body.networks||'[]')}catch{} networks=[...new Set(networks.filter(x=>['instagram','facebook','linkedin','x'].includes(x)))]; if((status==='aprovado'||status==='agendado')&&!networks.length) throw new Error('Selecione pelo menos uma rede.'); const previous=state.records[id]||{}; const comment=safeText(body.comment,1000); state.records[id]={...previous,title:content.title,caption,status,networks,scheduleAt:status==='agendado'?safeText(body.scheduleAt,40):'',updatedAt:now,audit:[...(previous.audit||[]),{at:now,operator,action:status,comment,networks}]}; saveState(state); return [{json:{ok:true,message:status==='aprovado'?'Conteúdo aprovado e adicionado à fila de homologação.':status==='agendado'?'Conteúdo aprovado e agendado para a fila.':'Decisão salva com sucesso.'}}];"
      },
      "id": "code",
      "name": "Processar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        260,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Processar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
