workflows/06-portal-arquivos.sanitized.json
{
  "name": "Postagem Redes — Portal: Arquivos",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "postagem-redes-arquivo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        0
      ],
      "webhookId": "postagem-redes-postagem-redes-arquivo"
    },
    {
      "parameters": {
        "jsCode": "\nconst fs = require('fs');\nconst path = require('path');\nconst ROOT = '/files/postagem-redes';\nconst INPUT = path.join(ROOT, 'entrada');\nconst STATE = path.join(ROOT, 'state.json');\nconst allowedStatuses = new Set(['pendente','aprovado','agendado','rejeitado','incompleto','publicado']);\nfunction slug(value) { const base=String(value).normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/(^-|-$)/g,'').slice(0,70)||'conteudo'; let h=0; for(const c of String(value)) h=((h<<5)-h+c.charCodeAt(0))|0; return base+'-'+(h>>>0).toString(36); }\nfunction safeText(value,max=5000){return String(value??'').replace(/\\0/g,'').trim().slice(0,max)}\nfunction readJson(file,fallback){try{return JSON.parse(fs.readFileSync(file,'utf8'))}catch{return fallback}}\nfunction saveState(state){const lock=STATE+'.lock'; let fd; try{fd=fs.openSync(lock,'wx')}catch{throw new Error('Outra alteração está em andamento. Atualize a página e tente novamente.')} try{const temp=STATE+'.tmp';fs.writeFileSync(temp,JSON.stringify(state,null,2),'utf8');fs.renameSync(temp,STATE)}finally{if(fd!==undefined)fs.closeSync(fd);try{fs.unlinkSync(lock)}catch{}}}\nfunction scan(){fs.mkdirSync(INPUT,{recursive:true}); const state=readJson(STATE,{version:1,records:{}}); state.records??={}; const folders=fs.readdirSync(INPUT,{withFileTypes:true}).filter(x=>x.isDirectory()).map(x=>x.name); const items=[]; for(const folder of folders){const dir=path.join(INPUT,folder);const files=fs.readdirSync(dir,{withFileTypes:true}).filter(x=>x.isFile()).map(x=>x.name);const slides=files.filter(x=>/\\.(png|jpe?g|webp)$/i.test(x)).sort((a,b)=>a.localeCompare(b,'pt-BR',{numeric:true}));const captionFile=files.find(x=>x.toLowerCase()==='texto.txt');const originalCaption=captionFile?safeText(fs.readFileSync(path.join(dir,captionFile),'utf8')):'';const id=slug(folder);const old=state.records[id]||{};const status=slides.length<1||!originalCaption&&!old.caption?'incompleto':allowedStatuses.has(old.status)?old.status:'pendente';items.push({id,folder,title:old.title||folder,slides,caption:old.caption??originalCaption,status,networks:Array.isArray(old.networks)?old.networks:[],scheduleAt:old.scheduleAt||'',updatedAt:old.updatedAt||'',audit:Array.isArray(old.audit)?old.audit:[]});} return {state,items}; }\n\nconst query=$input.first().json.query||{}; const id=safeText(query.id,130); const file=safeText(query.file,200); if(!id||!file||path.basename(file)!==file||!/^.+\\.(png|jpe?g|webp)$/i.test(file)) throw new Error('Arquivo inválido.'); const {items}=scan(); const content=items.find(x=>x.id===id); if(!content||!content.slides.includes(file)) throw new Error('Imagem não encontrada.'); const full=path.join(INPUT,content.folder,file); const data=fs.readFileSync(full); const mime=/\\.png$/i.test(file)?'image/png':/\\.webp$/i.test(file)?'image/webp':'image/jpeg'; return [{json:{},binary:{data:{data:data.toString('base64'),mimeType:mime,fileName:file}}}];"
      },
      "id": "code",
      "name": "Processar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseBinaryPropertyName": "data",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Cache-Control",
                "value": "private, max-age=300"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        260,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Processar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
