workflows/08-meta-instagram-facebook.sanitized.json
{
  "name": "Postagem Redes — 08 — Meta Instagram e Facebook (CONFIGURAR)",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": null,
  "meta": null,
  "pinData": {},
  "nodes": [
    {
      "id": "pr-requisitos-meta",
      "name": "Pré-requisitos Meta",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "parameters": {
        "content": "## Antes de executar\n\n1. Criar aplicativo Meta e adicionar os produtos necessários.\n2. Vincular conta profissional do Instagram à Página do Facebook.\n3. Criar OAuth2 de menor privilégio no n8n.\n4. Informar os IDs da Página e da conta profissional **diretamente no n8n**, sem Git.\n5. Hospedar cada imagem em URL pública **HTTPS**: a Meta não consegue baixar mídia em `192.168.x.x`.\n\nO fluxo está inativo e não possui conta, token ou URL corporativa.",
        "height": 300,
        "width": 520,
        "color": 6
      },
      "position": [
        -650,
        -290
      ]
    },
    {
      "id": "teste-manual",
      "name": "Teste manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "parameters": {},
      "position": [
        -600,
        70
      ]
    },
    {
      "id": "preparar-item-de-teste",
      "name": "Preparar item de teste",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "// Dados de amostra para revisão do canvas. O publicador real recebe somente itens\n// aprovados/agendados da fila do portal. Não há IDs de conta nem segredos neste export.\nreturn [{ json: {\n  contentId: 'conteudo-exemplo',\n  title: 'Publicação aprovada',\n  caption: 'Legenda aprovada para adaptação por rede.',\n  slides: ['01.png', '02.png'],\n  networks: ['instagram', 'facebook', 'linkedin', 'x'],\n  status: 'aprovado',\n  idempotencyKey: 'content:conteudo-exemplo:network:example',\n} }];"
      },
      "position": [
        -400,
        70
      ]
    },
    {
      "id": "pr-validar-configura-o-meta",
      "name": "Pré-validar configuração Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "// Configure estes valores como variáveis do n8n ou dados do item antes de ativar:\n// metaPageId, instagramBusinessAccountId, publicMediaBaseUrl e metaApiVersion.\n// A validação deliberadamente falha se faltar dado: isso evita post acidental.\nconst required = ['metaPageId', 'instagramBusinessAccountId', 'publicMediaBaseUrl'];\nconst missing = required.filter(key => !$json[key]);\nreturn [{ json: { ...$json, readyForMeta: missing.length === 0, missing } }];"
      },
      "position": [
        -160,
        70
      ]
    },
    {
      "id": "meta-configurada-",
      "name": "Meta configurada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.readyForMeta }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "position": [
        70,
        70
      ]
    },
    {
      "id": "parar-sem-publicar",
      "name": "Parar sem publicar",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "parameters": {
        "errorMessage": "=Meta ainda não está configurada. Campos ausentes: {{ $json.missing.join(\", \") }}"
      },
      "position": [
        290,
        180
      ]
    },
    {
      "id": "criar-containers-instagram",
      "name": "Criar containers Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/{{ $json.metaApiVersion || \"v23.0\" }}/{{ $json.instagramBusinessAccountId }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_url: `${$json.publicMediaBaseUrl}/${$json.contentId}/01.png`, is_carousel_item: true }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "position": [
        300,
        0
      ]
    },
    {
      "id": "aguardar-processamento-da-m-dia",
      "name": "Aguardar processamento da mídia",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "parameters": {
        "amount": 20,
        "unit": "seconds",
        "options": {}
      },
      "position": [
        560,
        0
      ]
    },
    {
      "id": "consultar-status-dos-containers",
      "name": "Consultar status dos containers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/{{ $json.metaApiVersion || \"v23.0\" }}/{{ $json.id }}?fields=status_code",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 30000
        }
      },
      "position": [
        790,
        0
      ]
    },
    {
      "id": "criar-carrossel-instagram",
      "name": "Criar carrossel Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/{{ $json.metaApiVersion || \"v23.0\" }}/{{ $json.instagramBusinessAccountId }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ media_type: \"CAROUSEL\", children: $json.containerIds, caption: $json.caption }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "position": [
        1040,
        0
      ]
    },
    {
      "id": "publicar-carrossel-instagram",
      "name": "Publicar carrossel Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/{{ $json.metaApiVersion || \"v23.0\" }}/{{ $json.instagramBusinessAccountId }}/media_publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ creation_id: $json.id }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "position": [
        1280,
        0
      ]
    },
    {
      "id": "preparar-fotos-facebook",
      "name": "Preparar fotos Facebook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "// Para Facebook, envie cada slide como foto não publicada e mantenha os IDs retornados.\n// Em seguida use /{page-id}/feed com attached_media. Não reaproveite o container do Instagram.\nreturn items;"
      },
      "position": [
        300,
        330
      ]
    },
    {
      "id": "enviar-foto-n-o-publicada-facebook",
      "name": "Enviar foto não publicada Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/{{ $json.metaApiVersion || \"v23.0\" }}/{{ $json.metaPageId }}/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 30000
        }
      },
      "position": [
        570,
        330
      ]
    },
    {
      "id": "criar-post-de-carrossel-facebook",
      "name": "Criar post de carrossel Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/{{ $json.metaApiVersion || \"v23.0\" }}/{{ $json.metaPageId }}/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 30000
        }
      },
      "position": [
        840,
        330
      ]
    },
    {
      "id": "por-que-http-request-",
      "name": "Por que HTTP Request?",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "parameters": {
        "content": "## Decisão de arquitetura\n\nNão há um nó nativo do n8n que cubra corretamente todo o fluxo atual de carrossel Meta. Estes nós HTTP Request são intencionais: deixam os endpoints, timeout e tratamento de retorno visíveis e auditáveis.\n\nConecte o OAuth2 no editor e preencha os corpos usando os IDs retornados de cada etapa. Faça primeiro um post de teste privado em uma Página de teste.",
        "height": 250,
        "width": 480,
        "color": 6
      },
      "position": [
        1030,
        260
      ]
    }
  ],
  "connections": {
    "Teste manual": {
      "main": [
        [
          {
            "node": "Preparar item de teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar item de teste": {
      "main": [
        [
          {
            "node": "Pré-validar configuração Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pré-validar configuração Meta": {
      "main": [
        [
          {
            "node": "Meta configurada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta configurada?": {
      "main": [
        [
          {
            "node": "Criar containers Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parar sem publicar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar containers Instagram": {
      "main": [
        [
          {
            "node": "Aguardar processamento da mídia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar processamento da mídia": {
      "main": [
        [
          {
            "node": "Consultar status dos containers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar status dos containers": {
      "main": [
        [
          {
            "node": "Criar carrossel Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar carrossel Instagram": {
      "main": [
        [
          {
            "node": "Publicar carrossel Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar fotos Facebook": {
      "main": [
        [
          {
            "node": "Enviar foto não publicada Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar foto não publicada Facebook": {
      "main": [
        [
          {
            "node": "Criar post de carrossel Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
