workflows/09-linkedin-empresa.sanitized.json
{
  "name": "Postagem Redes — 09 — LinkedIn Empresa (CONFIGURAR)",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": null,
  "meta": null,
  "pinData": {},
  "nodes": [
    {
      "id": "pr-requisitos-linkedin",
      "name": "Pré-requisitos LinkedIn",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "parameters": {
        "content": "## Publicação na Página da empresa\n\n- Aplicação LinkedIn aprovada para Community Management.\n- OAuth2 Community Management conectado no n8n.\n- URN/ID da organização com permissão de postagem.\n- Versão da API e cabeçalhos LinkedIn mantidos atualizados.\n\nO nó nativo LinkedIn desta instância é ótimo para texto ou uma imagem. Para um carrossel real, o caminho principal abaixo usa a Posts API com multiimagem.",
        "height": 280,
        "width": 560,
        "color": 6
      },
      "position": [
        -640,
        -280
      ]
    },
    {
      "id": "teste-manual",
      "name": "Teste manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "parameters": {},
      "position": [
        -580,
        60
      ]
    },
    {
      "id": "preparar-item-de-teste",
      "name": "Preparar item de teste",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "// Dados de amostra para revisão do canvas. O publicador real recebe somente itens\n// aprovados/agendados da fila do portal. Não há IDs de conta nem segredos neste export.\nreturn [{ json: {\n  contentId: 'conteudo-exemplo',\n  title: 'Publicação aprovada',\n  caption: 'Legenda aprovada para adaptação por rede.',\n  slides: ['01.png', '02.png'],\n  networks: ['instagram', 'facebook', 'linkedin', 'x'],\n  status: 'aprovado',\n  idempotencyKey: 'content:conteudo-exemplo:network:example',\n} }];"
      },
      "position": [
        -380,
        60
      ]
    },
    {
      "id": "pr-validar-linkedin",
      "name": "Pré-validar LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "const required = ['linkedInOrganizationUrn', 'publicMediaBaseUrl'];\nconst missing = required.filter(key => !$json[key]);\nreturn [{ json: { ...$json, readyForLinkedIn: missing.length === 0, missing } }];"
      },
      "position": [
        -140,
        60
      ]
    },
    {
      "id": "linkedin-configurado-",
      "name": "LinkedIn configurado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.readyForLinkedIn }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "position": [
        90,
        60
      ]
    },
    {
      "id": "parar-sem-publicar",
      "name": "Parar sem publicar",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "parameters": {
        "errorMessage": "=LinkedIn não configurado. Campos ausentes: {{ $json.missing.join(\", \") }}"
      },
      "position": [
        320,
        170
      ]
    },
    {
      "id": "inicializar-uploads-de-imagens",
      "name": "Inicializar uploads de imagens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkedin.com/rest/images?action=initializeUpload",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": false
            }
          }
        }
      },
      "position": [
        330,
        -10
      ]
    },
    {
      "id": "enviar-bin-rio-da-imagem",
      "name": "Enviar binário da imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.uploadUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 30000
        }
      },
      "position": [
        570,
        -10
      ]
    },
    {
      "id": "criar-post-multiimagem-linkedin",
      "name": "Criar post multiimagem LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkedin.com/rest/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "LinkedIn-Version",
              "value": "={{ $json.linkedInVersion || \"202607\" }}"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ author: $json.linkedInOrganizationUrn, commentary: $json.caption, visibility: \"PUBLIC\", distribution: { feedDistribution: \"MAIN_FEED\", targetEntities: [], thirdPartyDistributionChannels: [] }, content: { multiImage: { images: $json.linkedInImageUrns } }, lifecycleState: \"PUBLISHED\", isReshareDisabledByAuthor: false }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "position": [
        810,
        -10
      ]
    },
    {
      "id": "alternativa-nativa-uma-imagem",
      "name": "Alternativa nativa: uma imagem",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "parameters": {
        "resource": "post",
        "operation": "create",
        "postAs": "organization",
        "organization": "={{ $json.linkedInOrganizationUrn }}",
        "text": "={{ $json.caption }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "data",
        "additionalFields": {}
      },
      "position": [
        600,
        300
      ],
      "disabled": true
    },
    {
      "id": "alternativa-nativa-desativada",
      "name": "Alternativa nativa desativada",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "parameters": {
        "content": "## Nó LinkedIn nativo\n\nEle foi mantido no canvas, mas está **desativado** de propósito: serve para teste de texto/uma imagem e para deixar claro qual acesso OAuth2 a instância reconhece.\n\nPara carrossel, use a sequência de upload + Posts API acima. Assim não reduzimos silenciosamente um carrossel a uma única imagem.",
        "height": 235,
        "width": 470,
        "color": 6
      },
      "position": [
        910,
        220
      ]
    }
  ],
  "connections": {
    "Teste manual": {
      "main": [
        [
          {
            "node": "Preparar item de teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar item de teste": {
      "main": [
        [
          {
            "node": "Pré-validar LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pré-validar LinkedIn": {
      "main": [
        [
          {
            "node": "LinkedIn configurado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn configurado?": {
      "main": [
        [
          {
            "node": "Inicializar uploads de imagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parar sem publicar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicializar uploads de imagens": {
      "main": [
        [
          {
            "node": "Enviar binário da imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar binário da imagem": {
      "main": [
        [
          {
            "node": "Criar post multiimagem LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
