workflows/10-x-thread.sanitized.json
{
  "name": "Postagem Redes — 10 — X thread (CONFIGURAR)",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": null,
  "meta": null,
  "pinData": {},
  "nodes": [
    {
      "id": "pr-requisitos-x",
      "name": "Pré-requisitos X",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "parameters": {
        "content": "## Thread adaptada para X\n\n- Projeto e aplicação com OAuth2 de leitura/escrita.\n- Acesso à API de mídia incluído no plano da conta.\n- Credencial OAuth2 criada no n8n após rotação dos segredos.\n\nO nó nativo X cria o post e as respostas. A mídia fica em HTTP Request porque o nó atual do n8n não anexa mídia no fluxo v2.\n\nNão cole tokens no canvas, Git ou chat.",
        "height": 280,
        "width": 550,
        "color": 6
      },
      "position": [
        -640,
        -280
      ]
    },
    {
      "id": "teste-manual",
      "name": "Teste manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "parameters": {},
      "position": [
        -570,
        70
      ]
    },
    {
      "id": "preparar-item-de-teste",
      "name": "Preparar item de teste",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "// Dados de amostra para revisão do canvas. O publicador real recebe somente itens\n// aprovados/agendados da fila do portal. Não há IDs de conta nem segredos neste export.\nreturn [{ json: {\n  contentId: 'conteudo-exemplo',\n  title: 'Publicação aprovada',\n  caption: 'Legenda aprovada para adaptação por rede.',\n  slides: ['01.png', '02.png'],\n  networks: ['instagram', 'facebook', 'linkedin', 'x'],\n  status: 'aprovado',\n  idempotencyKey: 'content:conteudo-exemplo:network:example',\n} }];"
      },
      "position": [
        -370,
        70
      ]
    },
    {
      "id": "adaptar-legenda-em-thread",
      "name": "Adaptar legenda em thread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "const max = 260;\nconst words = String($json.caption || '').split(/\\s+/);\nconst chunks = []; let current = '';\nfor (const word of words) {\n  const candidate = current ? `${current} ${word}` : word;\n  if (candidate.length > max && current) { chunks.push(current); current = word; } else current = candidate;\n}\nif (current) chunks.push(current);\nreturn chunks.map((text, index) => ({ json: { ...$json, text: `${text} (${index + 1}/${chunks.length})`, sequence: index + 1, isFirst: index === 0 } }));"
      },
      "position": [
        -130,
        70
      ]
    },
    {
      "id": "loop-por-post-da-thread",
      "name": "Loop por post da thread",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "position": [
        130,
        70
      ]
    },
    {
      "id": "upload-de-m-dia-x",
      "name": "Upload de mídia X",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "parameters": {
        "method": "POST",
        "url": "=https://api.x.com/2/media/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 30000
        }
      },
      "position": [
        390,
        0
      ]
    },
    {
      "id": "-o-primeiro-post-",
      "name": "É o primeiro post?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isFirst }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "position": [
        620,
        70
      ]
    },
    {
      "id": "criar-post-inicial-x",
      "name": "Criar post inicial X",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "parameters": {
        "resource": "tweet",
        "operation": "create",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "position": [
        870,
        -20
      ]
    },
    {
      "id": "responder-na-thread-x",
      "name": "Responder na thread X",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "parameters": {
        "resource": "tweet",
        "operation": "create",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "inReplyToStatusId": {
            "mode": "id",
            "value": "={{ $json.previousTweetId }}"
          }
        }
      },
      "position": [
        870,
        150
      ]
    },
    {
      "id": "guardar-id-para-pr-xima-resposta",
      "name": "Guardar ID para próxima resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "// Guarde o ID retornado pela API como previousTweetId e também no ledger do portal.\n// Esse registro é a proteção contra duplicar thread após timeout.\nreturn items;"
      },
      "position": [
        1120,
        70
      ]
    },
    {
      "id": "uso-correto-dos-n-s",
      "name": "Uso correto dos nós",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "parameters": {
        "content": "## Papel de cada etapa\n\n- **Code**: adapta texto e numera a thread.\n- **Loop Over Items**: garante ordem e uma postagem por vez.\n- **HTTP Request**: upload de mídia v2.\n- **X (Formerly Twitter)**: cria o post inicial e as respostas encadeadas.\n- **Ledger**: salva todos os IDs retornados; retry deve retomar apenas o item que falhou.",
        "height": 260,
        "width": 510,
        "color": 6
      },
      "position": [
        1060,
        -250
      ]
    }
  ],
  "connections": {
    "Teste manual": {
      "main": [
        [
          {
            "node": "Preparar item de teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar item de teste": {
      "main": [
        [
          {
            "node": "Adaptar legenda em thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adaptar legenda em thread": {
      "main": [
        [
          {
            "node": "Loop por post da thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop por post da thread": {
      "main": [
        [
          {
            "node": "Upload de mídia X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload de mídia X": {
      "main": [
        [
          {
            "node": "É o primeiro post?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É o primeiro post?": {
      "main": [
        [
          {
            "node": "Criar post inicial X",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder na thread X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar post inicial X": {
      "main": [
        [
          {
            "node": "Guardar ID para próxima resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder na thread X": {
      "main": [
        [
          {
            "node": "Guardar ID para próxima resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
